html {
        background: -moz-Dialog;
}

body {
        padding: 1em 3em 3em;
        -moz-padding-start: 30px;
        border-radius: 10px;
        border: 1px solid navy;
        background-color: -moz-Field;
        color: -moz-FieldText;
        position: relative;
        min-width: 13em;
        max-width: 52em;
        margin: 4em auto;
}


.aboutPageWideContainer {
        max-width: 80% !important;
}

#aboutLogoContainer {
        border: 1px solid ThreeDLightShadow;
        width: 300px;
        margin-bottom: 2em;
}

h1, h2, h3 {
        color: #305083;
}

a {
        color: #305083;
        text-decoration: underline;
}

a:hover {
        color: #FF8000;
}

a:visited {
        color: navy;
}

img {
        border: 0;
}

#version {
        font-weight: bold;
        color: #909090;
        margin: -24px 0 9px 17px;
}

ul {
        margin: 0;
        -moz-margin-start: 1.5em;
        padding: 0;
        list-style: square;
}

ul > li {
        margin-top: .5em;
}
