@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: button ::::: */

button {
	margin: 1px 3px;
	padding-left: 14px;
	border: none;
	background: url("chrome://global/skin/button/startcap.png") no-repeat top left;
	color: #000;
	list-style-position: inside;
	min-width: 6.3em;
	height: 25px;
}

.button-box {
	padding-right: 14px;
	border: none;
	background: url("chrome://global/skin/button/endcap.png") no-repeat top right;
	height: 25px;
}

.button-text {
	margin: 0 0 1px !important; /* global.css/label */
	text-align: center;
	vertical-align: middle;
}

/* ..... hover/active/focused/default/open/checked state ..... */

button:not([disabled="true"]):hover,
button:not([disabled="true"]):hover:active,
button:not([disabled="true"]):focus,
button:not([disabled="true"])[default="true"],
button:not([disabled="true"])[open="true"],
button:not([disabled="true"])[checked="true"] {
	background: url("chrome://global/skin/button/startcap-active.png") no-repeat top left;
}

button:not([disabled="true"]):hover > .button-box,
button:not([disabled="true"]):hover:active > .button-box,
button:not([disabled="true"]):focus > .button-box,
button:not([disabled="true"])[default="true"] > .button-box,
button:not([disabled="true"])[open="true"] > .button-box,
button:not([disabled="true"])[checked="true"] > .button-box {
	background: url("chrome://global/skin/button/endcap-active.png") no-repeat top right;
}

/* ..... disabled state ..... */

button[disabled="true"] {
	background: url("chrome://global/skin/button/startcap.png") no-repeat top left;
	color: #5f5f5f;
	opacity: .5;
}

button[disabled="true"] > .button-box {
	background: url("chrome://global/skin/button/endcap.png") no-repeat top right;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
	background: none !important;
	-moz-box-align: center;
	-moz-box-pack: center;
	margin: 0;
	border: none;
}

/* global/dropmarker.css
   .button-menubutton-dropmarker */
.button-menu-dropmarker,
.button-menubutton-dropmarker {
	margin: 2px -3px 0 3px;
	border: none;
	background-color: transparent;
	list-style-image: url("chrome://global/skin/button/dropmkr.png");
	width: 7px;
	height: 7px;
}

.button-menu-dropmarker:hover:active,
.button-menu-dropmarker[open="true"],
.button-menubutton-dropmarker:hover:active,
.button-menubutton-dropmarker[open="true"] {
	list-style-image: url("chrome://global/skin/button/dropmkr-black.png");
}
  
.button-menu-dropmarker[disabled="true"],
.button-menubutton-dropmarker[disabled="true"] {
	list-style-image: url("chrome://global/skin/button/dropmkr-dis.png");
}

/* ::::: plain buttons ::::: */

button.plain {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

button[type="disclosure"] {
	-moz-appearance: none;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	background-color: transparent;
	list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
	min-width: 0px !important;
}

button[type="disclosure"][open="true"] {
	list-style-image: url("chrome://global/skin/tree/twisty-open.png"); 
}
