/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
	-moz-appearance: none;
	-moz-box-align: center;
	margin: 2px 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	-moz-padding-start: 4px;
	-moz-padding-end: 2px;
}

.checkbox-label-box {
/*
*/
	-moz-margin-start: 2px;
	border: 1px solid transparent;
	padding: 0px 1px;
}

.checkbox-icon {
	-moz-margin-end: 2px;
}

.checkbox-label {
	margin: 0 !important;
	line-height: 16px;
}

/* ..... focused state ..... */

checkbox:focus > .checkbox-label-box {
	border: 1px dotted ThreeDDarkShadow;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
	background-color: transparent;
}

checkbox[disabled="true"] {
	color: GrayText !important;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
	-moz-appearance: none;
	-moz-box-align: center;
	border: 0px solid;
	min-width: 18px;
	min-height: 18px;
	background: url("chrome://global/skin/checkbox/checkbox.png") no-repeat !important;
	list-style-image: none !important;
}
  
checkbox:hover:active > .checkbox-check {
	background-color: transparent;
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
	background: url("chrome://global/skin/checkbox/checkbox-chkd.png") no-repeat !important;
	list-style-image: url("chrome://global/skin/checkbox/checkbox-check.png") !important;
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
	background: url("chrome://global/skin/checkbox/checkbox.png") no-repeat !important;
	list-style-image: url("chrome://global/skin/checkbox/checkbox-check.png") !important;
	opacity: .5;
}

checkbox[disabled="true"] > .checkbox-check {
	background: url("chrome://global/skin/checkbox/checkbox.png") no-repeat !important;
	list-style-image: none;
	opacity: .5 !important;
}


