@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: find toolbar ::::: */

.browserContainer > findbar {
	background-image: url("chrome://global/skin/icons/find-bar-background.png");
	background-repeat: repeat-x;
  border-top: 1px solid #7d7d7d;
}

.findbar-container > label,
.findbar-container > description {
  font-weight: bold;
}

.findbar-find-fast {
  color: #6D6D6D;
}

.findbar-closebutton {
  padding-right: 4px;
  list-style-image: url("chrome://global/skin/icons/closetab.png");
  border: none;
  background-image: none !important;
  background-color: transparent !important;
}

.findbar-closebutton:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png") !important;
}

.findbar-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png") !important;
}


.findbar-highlight,
.findbar-case-sensitive {
  -moz-appearance: none;
  border: 1px solid #5F5F5F;
  border-radius: 10px;
  background: url("chrome://global/skin/icons/white-gray-gradient.gif") #A09E9D repeat-x top center;
  margin: 0 4px 1px 4px;
  padding: 0 3px;
}

.findbar-find-previous,
.findbar-find-next {
  -moz-appearance: none;
  border: 1px solid #5F5F5F;
  background: url("chrome://global/skin/icons/white-gray-gradient.gif") #A09E9D repeat-x top center;
  height: 20px;
  margin: 2px 0;
  padding: 0 5px;
}

/*.findbar-highlight = checkbox;*/

.findbar-container > toolbarbutton > .toolbarbutton-text,
.findbar-container > hbox > toolbarbutton > .toolbarbutton-text {
  margin: 1px 6px;
}

.findbar-container > toolbarbutton[disabled],
.findbar-container > hbox > toolbarbutton[disabled] {
  border-color: #8F8F8F;
  color: graytext;
}

.findbar-container > toolbarbutton:not([disabled]):hover:active,
.findbar-container > hbox > toolbarbutton:not([disabled]):hover:active {
  background-image: url("chrome://global/skin/icons/white-gray-gradient-active.gif");
}


.findbar-closebutton > .toolbarbutton-text {
  display: none;  
}

/* ::::: FindBar Textbox :::::: */

.findbar-textbox {
	-moz-binding: url("chrome://global/content/bindings/findbar.xml#findbar-textbox");
	padding-top: 0;
	padding-bottom: 0;
	-moz-padding-start: 20px;
	background: #fff url("chrome://global/skin/icons/search-textbox.png") no-repeat left center;
	min-height: 20px;
}

.findbar-textbox:-moz-locale-dir(ltr) {
  border-radius: 45px 0px 0px 45px / 35px 0px 0px 35px;
  margin-right: 0px;
}

.findbar-textbox:-moz-locale-dir(rtl) {
  border-radius: 0px 45px 45px 0px / 0px 35px 35px 0px;
  margin-left: 0px;
}

.findbar-textbox[status="notfound"] {
	background-color: #f68892;
	color: #fff;
}

findbar[flash="true"] > .findbar-container > .find-field-container > .findbar-textbox {
	background-color: #c7cde7;
}

/* find-next button */

.findbar-find-next > .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(16px, 16px, 32px, 0px);
  margin: 0px -2px 0px 2px;
}

.findbar-find-next:hover > .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px); 
  margin: 0px -2px 0px 2px;
}

/* find-previous button */

.findbar-find-previous > .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

.findbar-find-previous:hover > .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.findbar-find-next:-moz-locale-dir(ltr) {
  border-top-right-radius: 45px 35px;
  border-bottom-right-radius: 45px 35px;
}

.findbar-find-next:-moz-locale-dir(rtl) {
  border-top-left-radius: 45px 35px;
  border-bottom-left-radius: 45px 35px;
}

.findbar-find-next > .toolbarbutton-text,
.findbar-find-previous > .toolbarbutton-text {
  display: none;
}

/* highlight button */

.findbar-highlight {
  -moz-margin-start: 8px;
}

.findbar-highlight > .toolbarbutton-icon {
  width: 13px;
  height: 8px;
  margin: 4px;
  -moz-margin-end: 0;
  border: 1px solid #818181;
  border-radius: 4px;
  background-color: #F4F4F3;
}


.findbar-highlight[checked="true"] > .toolbarbutton-icon {
  background-color: #FFFF00;
  border-color: #818100;
}

.find-status-icon {
  display: none;
}

.findbar-find-status {
  color: #436599 !important;
  margin: 1px;
  -moz-margin-start: 12px;
}
