/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-1999
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Kevin Gerich (webmail@kmgerich.com)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

/* ===== global.css =====================================================
  == Styles that apply everywhere.
  ======================================================================= */

/* all localizable skin settings shall live here */
@import url("chrome://global/locale/intl.css");

@import url("chrome://global/skin/formatting.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* ::::: XBL bindings ::::: */

tabbox > tabs > tab,
.tab-bottom {
	-moz-binding: url("chrome://global/skin/globalBindings.xml#tab") !important;
}

menulist > menupopup,
.menulist-menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

.menulist-compact {
  -moz-binding: url("chrome://global/content/bindings/menulist.xml#menulist-compact");
}

progressmeter[mode="undetermined"] {
  -moz-binding: url("chrome://global/content/bindings/progressmeter.xml#progressmeter-undetermined");
}


/* ::::: root elements ::::: */

window, dialog, wizard, prefwindow {
  background-image: url('chrome://global/skin/toolbar/bkg.png');
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  font: message-box;
  -moz-appearance: window; 
}

page{ 
  -moz-appearance: dialog;
  /* background-color: #FFFFFF; */
  color: -moz-DialogText;
  font: message-box;
}

toolbar, toolbox {
  background-image: url('chrome://global/skin/toolbar/bkg.png');
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  font: message-box;
  border-bottom: 1px solid !important;
  -moz-border-bottom-colors: #D8D8D8;
}

menubar, menubarmenu{
  color: -moz-DialogText;
  font: message-box;
}  


window,
page,
dialog,
wizard,
prefwindow {
	-moz-appearance: window;
	background: #fff url("chrome://global/skin/toolbar/bkg.png") repeat;
	color: #000;
	font: 11px "Lucida Grande", Tahoma, Arial, sans-serif;
}



[wait-cursor] { 
  cursor: wait !important; 
}

/* ::::: alert icons :::::*/

.message-icon,
.alert-icon,
.error-icon,
.question-icon {
  width: 64px;
  height: 64px;
  list-style-image: url("chrome://global/skin/icons/information-64.png");
  margin: 6px 20px 6px 6px !important;
}

.alert-icon {
  list-style-image: url("chrome://global/skin/icons/warning-64.png");
}

.error-icon {
  list-style-image: url("chrome://global/skin/icons/error-64.png");
}

.question-icon {
  list-style-image: url("chrome://global/skin/icons/question-64.png");
}

/* ::::: iframe ::::: */

iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}

/* ::::: statusbar ::::: */

statusbar {
  border-top: 0px solid #d8d8d8;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  background-image: url('chrome://global/skin/toolbar/bkg.png') !important;
  min-height: 17px;
  margin-right: 0px;
}

.statusbarpanel-text{
  margin-top: -2px;
  }


statusbarpanel {
  -moz-box-align: center;
  -moz-box-pack: center;
}

.statusbar-resizerpanel {
  -moz-box-align: end;
  -moz-box-pack: end;
  /* -moz-appearance: resizerpanel; */
  padding: 0px;
  border: none;
}

.statusbarpanel-iconic,  .statusbarpanel-iconic-text, .statusbarpanel-menu-iconic {
  padding: 0px 2px 0px 2px;
}

resizer[dir="bottomright"] {
   background: url("chrome://global/skin/toolbar/resizer.png") no-repeat bottom right;
  /* -moz-appearance: resizer; */
  width: 19px;
  height: 18px;
  cursor: se-resize;
}

/* ::::: miscellaneous ::::: */

.toolbar-focustarget {
  -moz-user-focus: ignore !important;
}

#info.icon {
	margin-right: 14px;
}

#commonDialog {
	line-height: 13px;
}

#commonDialog #infoContainer {
	max-width: 33em !important;
}

#warn1 {
	font: menu;
	font-weight: bold;
	line-height: 16pt;
	padding-bottom: 10px;
}

#ok, #cancel, #launch, #reveal, #pauseResume {
	font: menu !important;
}

.message-icon {
	display: none !important;
}

/*#panelFrame {
	margin-top: 2px;
	padding-left: 10px;
}*/

description {
	margin-bottom: 4px;
}

browser {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

/* miscellaneous stuff */

#OCSPDialog {
  font: message-box;
}




/* :::::: autoscroll popup ::::: */

#autoscroller {
  height: 28px;
  width: 28px;
  border: none;
  margin: -14px;
  padding: 0;
  background-image: url("chrome://global/skin/icons/autoscroll.png");
  background-color: transparent;
  background-position: right top;
  -moz-appearance: none;
}

#autoscroller[scrolldir="NS"] {
  background-position: right center;
}

#autoscroller[scrolldir="EW"] {
  background-position: right bottom;
}

/* ::::: sidebar ::::: */

#sidebar {
	background: #fff url("chrome://global/skin/toolbar/bkg.png") repeat;
}

sidebarheader {
	border-bottom: 1px solid #a3a3a3;
	background: #fff url("chrome://global/skin/toolbar/bkg.png") repeat;
	height: 25px;
}

sidebarheader > label {
	-moz-padding-start: 4px;
	color: #000;
}

#sidebar-box .tabs-closebutton {
	margin-bottom: 0;
	padding: 0 4px;
	background-color: transparent;
}

/* :::::: About Dialog. (to make UserAgent textbox unseparated from the rest) ::::::: */

#aboutDialog #userAgent {
	box-shadow: none;
}

