/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-1999
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Joe Hewitt (hewitt@netscape.com)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

/* ===== menu.css =======================================================
 *   == Styles used by XUL menu-related elements.
 *   ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menu/menuitem ::::: */

menu,
menuitem {
	-moz-box-align: center;
	color: black;
	font: menu;
	list-style-image: none;
	-moz-image-region: auto;
}

menuitem[default="true"] {
	font-weight: bold;
}

menu[disabled="true"], menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
	color: GrayText;
}

/* ..... internal content .... */

.menu-text,
.menu-iconic-left,
.menu-iconic-text {
	margin-top: 0px !important;
	margin-bottom: 1px !important;
	-moz-margin-start: 1px !important;
	-moz-margin-end: 2px !important;
	color: inherit;
}

.menu-text {
	-moz-margin-start: 18px !important;
	font-weight: inherit;
}

.menu-accel,
.menu-iconic-accel {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	-moz-margin-start: 7px !important;
	-moz-margin-end: 2px !important;
	-moz-padding-end: 14px;
	color: inherit;
}

.menu-iconic-left {
	width: 16px;
}

/* ..... menu arrow box ..... */


.menu-right {
	width: 8px;
	list-style-image: url('chrome://global/skin/menu/menu-arrow.png');
	margin-left:6px; margin-right:0px; margin-top:0px; margin-bottom:0px;
	-moz-image-region: rect(0px, 8px, 8px, 0px);
}

.menu-right[_moz-menuactive="true"] {
	list-style-image: url('chrome://global/skin/menu/menu-arrow-hover.png');
	-moz-image-region: rect(0px, 8px, 8px, 0px);
}

.menu-right[disabled="true"] {
	list-style-image: url('chrome://global/skin/menu/menu-arrow-disabled.png');
	-moz-image-region: rect(0px, 8px, 8px, 0px);
}

.menu-right:-moz-locale-dir(rtl) {
	width: 8px;
	list-style-image: url('chrome://global/skin/menu/Menu-arrow-rtl.png');
	margin-left:6px; margin-right:0px; margin-top:0px; margin-bottom:0px;
	-moz-image-region: rect(0px, 8px, 8px, 0px);
}

.menu-right[_moz-menuactive="true"]:-moz-locale-dir(rtl) {
	list-style-image: url('chrome://global/skin/menu/Menu-arrow-hover-rtl.png');
	-moz-image-region: rect(0px, 8px, 8px, 0px);
}

.menu-right[disabled="true"]:-moz-locale-dir(rtl) {
	list-style-image: url('chrome://global/skin/menu/Menu-arrow-disabled-rtl.png');
	-moz-image-region: rect(0px, 8px, 8px, 0px);
}

/* ::::: menu/menuitems in menubar ::::: */

menubar > menu {
	border: 1px solid transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	-moz-padding-start: 7px;
	-moz-padding-end: 5px;
	margin: 1px 0px 1px 0px;
}
menubar > menu[_moz-menuactive="true"] {
	border-top: 1px solid ThreeDHighlight;
	border-right: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDShadow;
	border-left: 1px solid ThreeDHighlight;
	background: url('chrome://global/skin/menu/menuhighlight.png') center repeat-x;
	color: white;
}
menubar > menu[_moz-menuactive="true"][open="true"] {
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDShadow;
	background: url('chrome://global/skin/menu/menuhighlight.png') center repeat-x;
	color: white;
}

/* ..... internal content .... */

.menubar-left {
	margin-top: 0px;
	margin-bottom: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 2px;
	color: inherit;
}

.menubar-text {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	-moz-margin-start: 0px !important;
	-moz-margin-end: 2px !important;
	color: inherit;
}

/* ::::: menu/menuitems in popups ::::: */

menupopup > menu,
popup > menu,
menupopup > menuitem,
popup > menuitem {
	padding: 2px;
	max-width: 42em;
}

menupopup > menu[_moz-menuactive="true"],
menupopup > menuitem[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
popup > menuitem[_moz-menuactive="true"] {
	/*   max-hight: 21px;
	 *		       min-hight: 21px; */
	background: url('chrome://global/skin/menu/menuhighlight.png') center repeat-x;
	color: white;
	/*background-color: Highlight;
	 *color: HighlightText;*/
}

/* ::::: menu/menuitems in menulist popups ::::: */

.menulist-menupopup > menuitem,
menulist > menupopup > menuitem,
.menulist-menupopup > menu,
menulist > menupopup > menu {
	border: 1px solid transparent;
	padding-top: 1px;
	padding-bottom: 1px;
	-moz-padding-start: 5px;
	-moz-padding-end: 30px;
	max-width: none;
	font: message-box;
	color: -moz-FieldText;
}

.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menuitem > .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
	display: none;
}

menulist > menupopup > menuitem[_moz-menuactive="true"] {
	border: 1px dotted #F5DB95;
}

/* ::::: checkbox menuitem ::::: */

menuitem[checked="true"] {
	list-style-image: url("chrome://global/skin/menu/menu-check.gif");
	-moz-image-region: auto;
}

menuitem[checked="true"][disabled="true"] {
	list-style-image: url("chrome://global/skin/menu/menu-check-disabled.gif");
	-moz-image-region: auto;
}

menuitem[checked="true"][_moz-menuactive="true"] {
	list-style-image: url("chrome://global/skin/menu/menu-check-hover.gif");
	-moz-image-region: auto;
}

/* ::::: radio menuitem ::::: */

menuitem[checked="true"][type="radio"] {
	list-style-image: url("chrome://global/skin/menu/menu-radio.gif");
	-moz-image-region: auto;
}

menuitem[checked="true"][type="radio"][disabled="true"] {
	list-style-image: url("chrome://global/skin/menu/menu-radio-disabled.gif");
	-moz-image-region: auto;
}

menuitem[checked="true"][type="radio"][_moz-menuactive="true"] {
	list-style-image: url("chrome://global/skin/menu/menu-radio-hover.gif");
	-moz-image-region: auto;
}

/* ::::: menuseparator ::::: */

menuseparator {
	margin: 2px 3px;
	border-top: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDHighlight;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator {
	margin: 2px 0;
	border-top: 1px solid #000000;
	border-bottom: none;
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
	max-width: none !important;
	font: message-box;
}

/* ::::: tree column picker ::::: */

.treecell-popupcell-menu {
	-moz-margin-start: -2px;
	list-style-image: url("chrome://global/skin/columnselect.gif");
	-moz-image-region: auto;
}
	