/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-1999
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Joe Hewitt (hewitt@netscape.com)
 *   Kevin Gerich (webmail@kmgerich.com)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

/* ===== menulist.css ===================================================
  == Styles used by the XUL menulist element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: menulist ::::: */

menulist {
	margin: 1px 3px;
	padding-left: 8px;
	background: url("chrome://global/skin/menulist/menulist-startcap.png") no-repeat top left;
	color: #000;
	height: 25px;
}

.menulist-label-box,
.menulist-editable-box {
	-moz-box-align: center;
	background: url("chrome://global/skin/menulist/menulist-body.png") repeat-x top center;
	height: 25px;
}

.menulist-icon[src] {
	margin: 0;
}

.menulist-label {
	margin: 0 0 1px !important;
	padding-left: 3px;
	vertical-align: middle;
}


.menulist-description {
	font-style: italic;
	color: GrayText;
	-moz-margin-start: 1ex !important;
}


.menulist-dropmarker {
	border: none;
	background: url("chrome://global/skin/menulist/menulist-dropmarker.png") no-repeat top right;
	list-style-image: none;
	width: 22px;
	height: 25px;
}

/* ..... focused state ..... */

menulist:focus > .menulist-label-box {
}

/* ..... open state ..... */

menulist[open="true"] {
	background: url("chrome://global/skin/menulist/menulist-startcap-open.png") no-repeat top left;
}

menulist[open="true"] > .menulist-label-box,
menulist[open="true"] > .menulist-editable-box {
	background: url("chrome://global/skin/menulist/menulist-body-open.png") repeat-x top center;
}

menulist[open="true"] > .menulist-dropmarker {
	background: url("chrome://global/skin/menulist/menulist-dropmarker-open.png") no-repeat top right;
}

/* ..... disabled state ..... */

menulist[disabled="true"] {
	color: #5f5f5f;
	opacity: .5;
}

menulist[disabled="true"] > .menulist-dropmarker {
	background: url("chrome://global/skin/menulist/menulist-dropmarker-disabled.png") no-repeat top right;
}

/* ::::: editable menulists ::::: */

.menulist-editable-box {
	padding-top: 3px;
	padding-bottom: 3px;
	-moz-padding-start: 2px;
	-moz-padding-end: 0px;
}

html|*.menulist-editable-input {
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	background-color: transparent;
	font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact {
	-moz-appearance: none;
	-moz-box-align: center;
	-moz-box-pack: center;
	margin: 0;
	-moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
	-moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
	-moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
	background-color: ThreeDFace;
	color: ButtonText;
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.menulist-compact > .menulist-label-box > .menulist-label {
	margin: 0 3px !important;
	text-align: right;
}  

.menulist-compact > .menulist-label-box > .menulist-icon {
	-moz-margin-start: 2px;
}

.menulist-compact[open="true"] {
	-moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
	-moz-border-right-colors: ThreeDDarkShadow ThreeDHighlight;
	-moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight;
	-moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

.menulist-compact[disabled="true"] {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}

.menulist-compact:focus > .menulist-label-box {
	border: 1px dotted;
	background-color: transparent;
	color: inherit;
}
