@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
	padding: 0px !important;
	font: icon;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #a3a3a3 !important;
	background-color: #EEE;
}

.notification-inner outset, .notification-inner {
	background-color: #E6E6E6;
	color: #505050;
	border: 1px solid #C8C8C8;
	-moz-border-top-colors: #C8C8C8;
	-moz-border-right-colors: #C8C8C8;
	-moz-border-bottom-colors: #C8C8C8;
	-moz-border-left-colors: #C8C8C8;
	border-radius: 3px;
	margin: 5px !important;
	margin-right: 5px !important;
/*
*/
}

notification[type="info"] {
}

notification[type="critical"] {
  background-color: red;
}

.messageImage {
  width: 16px;
  height: 16px;
  margin: 0px 1px 0px 6px;
}

.messageText {
  -moz-margin-start: 5px;
	border: none !important;
}


.messageCloseButton {
  list-style-image: url("chrome://global/skin/icons/closetab.png");
  padding: 4px 2px;
  border: none !important;
}

.messageCloseButton:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png");
}

.messageCloseButton:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png");
}