@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

menupopup,
popup,
panel {
	padding: 2px 0;
	border: 1px solid #a3a3a3;
	background: #f5f5f5 url("chrome://global/skin/toolbar/bkg.png");
	min-width: 1px;
}

/* colorpicker popup */
panel {
	padding: 2px;
}

menupopup,
popup:not([type="autocomplete"]) {
}

menupopup > menu > menupopup,
popup > menu > menupopup {
	/* align submenus */
	-moz-margin-start: -3px;
	margin-top: -3px;
}

/* rules for popups associated with menulists */
menulist > menupopup,
.menulist-menupopup {
	-moz-appearance: none;
	padding: 0;
	border: 1px solid #a3a3a3;
	background: #f5f5f5;
	min-width: 0;
}

menulist > menupopup > .popup-internal-box,
.menulist-menupopup > .popup-internal-box {
	padding: 2px 0;
}

/* ::::: tooltip ::::: */

tooltip {
	margin-top: 21px;
	border: 1px solid InfoText;
	padding: 2px 3px;
	max-width: 40em;
	background-color: InfoBackground;
	color: InfoText;
}

.tooltip-label {
	margin: 0 !important;
}

tooltip[titletip="true"] {
	max-width: none;
}