/* ===== progressmeter.css ==============================================
  == Styles used by the XUL progressmeter element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: progressmeter ::::: */

progressmeter {
  min-width: 128px;
  height: 12px !important;
  margin:  2px 4px 2px 4px !important;
  padding: 0px !important;
  border-top: 0px solid transparent !important;
  border-bottom: 0px solid transparent !important;
  border-right: 1px solid #dcdcdc !important;
  border-left: 1px solid #dcdcdc !important;
  background: url("chrome://global/skin/progressmeter/progressbar.png") repeat-x top left !important;
}

progressmeter[mode="undetermined"] {
	background: url("chrome://global/skin/progressmeter/chunks_ani.gif") no-repeat top left;
	height: 10px;
}

.progress-bar {
  -moz-appearance: none;
  height: 10px;
  background: url("chrome://global/skin/progressmeter/chunks_ani.gif") repeat-x;
}

/* ::::: statusbar progressmeter ::::: */

#urlbar .progressmeter-statusbar {
  margin: 5px -20px 4px -2px !important;
  height: 19px !important;
  min-width: 128px;
  background-image: none !important;
  background-color: transparent !important;
}

#urlbar .progress-bar {
  padding: 0px;
  background: url("chrome://global/skin/progressmeter/urlbar-progressbar.png") repeat-x;
}
