/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 2002
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Joe Hewitt (hewitt@netscape.com)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

/* ===== nativescrollbars.css ===========================================
  == Styles used by native scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); 

scrollbar {
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
  margin: 0px !important;
  cursor: default;
}

scrollbar[orient="vertical"] {
  width:15px;
  padding: 6px 0px 6px 0px;
  background: url("chrome://global/skin/scrollbar/vertical-background.png") no-repeat bottom right scrollbar;
}

scrollbar[orient="horizontal"] {
  height:15px;
  padding: 0px 0px 0px 6px;
  background: url("chrome://global/skin/scrollbar/horizontal-background.png") no-repeat bottom right scrollbar;
}

thumb {
  -moz-binding: url("chrome://global/skin/scrollbar.xml#thumb");
}

thumb, thumb[height]:not([width]) {
  min-height: 24px;
  background:url("chrome://global/skin/scrollbar/thumb-topcap.png") no-repeat top left;
}

gripper{
  -moz-box-flex: 1;  
}

thumb > gripper, thumb[height]:not([width]) > gripper {
  top: 12px;
  width:15px;
  background:url("chrome://global/skin/scrollbar/vertical-thumb-end_opaque.png") no-repeat bottom left;
}

/*startcap*/
thumb[orient="horizontal"], thumb[width]:not([height]) {
  min-width: 24px;
  background:url("chrome://global/skin/scrollbar/thumb-startcap.png") no-repeat top left;
}

/*endcap*/
thumb[orient="horizontal"] > gripper, thumb[width]:not([height]) > gripper {
  height:15px;
  background:url("chrome://global/skin/scrollbar/horizontal-thumb-end_opaque.png") no-repeat top right;
}

/* :: scrollbar button :: */

scrollbarbutton {
  background-repeat: no-repeat;
}

/* .. increment . */

scrollbarbutton[type="increment"] {
  margin: 0px 0px 0px 0px;
  min-width: 15px;
  min-height: 15px;
  background: url("chrome://global/skin/scrollbar/right.png");
}

scrollbarbutton[type="increment"]:hover:active {
  background: url("chrome://global/skin/scrollbar/right-active.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  margin: 0px 0px -7px 0px;
  min-width: 15px;
  min-height: 15px;
  background: url("chrome://global/skin/scrollbar/down.png") no-repeat bottom left;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:hover:active {
  background: url("chrome://global/skin/scrollbar/down-active.png");
}

/* .. decrement . */

scrollbarbutton[type="decrement"] {
  margin: 0px -9px 0px -7px;
  min-width: 23px;
  min-height: 15px;
  background: url("chrome://global/skin/scrollbar/left.png");
}

scrollbarbutton[type="decrement"]:hover:active {
  background: url("chrome://global/skin/scrollbar/left-active.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  margin: -7px 0px -9px 0px;
  min-width: 15px;
  min-height: 23px;
  background: url("chrome://global/skin/scrollbar/up.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:hover:active {
  background: url("chrome://global/skin/scrollbar/up-active.png");
}

scrollcorner {
  background-color: #FFFFFF;
}

/* :: */
/*  MEDIA PRINT : */
/* :: */
@media print {
  html|div scrollbar {
    -moz-appearance: scrollbartrack-horizontal;
    -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
    cursor: default;
    background: url("chrome://global/skin/scrollbar/slider.gif") scrollbar;
  }

  html|div scrollbar[orient="vertical"] {
   -moz-appearance: scrollbartrack-vertical;
  }

/* :: borders for thumb and buttons :: */

  html|div thumb,
  html|div scrollbarbutton {
    border: 2px solid;
    -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
    -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
    background-color: -moz-Dialog;
  }

/* :: thumb (horizontal) :: */

  html|div thumb {
    -moz-appearance: scrollbarthumb-vertical;
    min-height: 8px;
  }

  html|div thumb[orient="horizontal"] {
    -moz-appearance: scrollbarthumb-horizontal;
    min-width: 8px;
  }

  html|div thumb > gripper {
    -moz-appearance: none;
  }

  html|div thumb[orient="horizontal"] > gripper {
    -moz-appearance: none;
  }

/* :: scrollbar button :: */

  html|div scrollbarbutton {
    background: -moz-Dialog no-repeat 0px 1px;
    min-width: 15px;
    min-height: 15px;
  }

  html|div scrollbarbutton:hover:active {
    -moz-border-top-colors: ThreeDShadow -moz-Dialog;
    -moz-border-right-colors: ThreeDShadow -moz-Dialog;
    -moz-border-bottom-colors: ThreeDShadow -moz-Dialog;
    -moz-border-left-colors: ThreeDShadow -moz-Dialog;
    background-position: 1px 2px;
  }

/* .. increment . */

  html|div scrollbarbutton[type="increment"] {
    -moz-appearance: scrollbarbutton-right;
    background-image: url("chrome://global/skin/arrow/arrow-rit.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
    -moz-appearance: scrollbarbutton-down;
    background-image: url("chrome://global/skin/arrow/arrow-dn.gif")
  }

/* .. decrement . */

  html|div scrollbarbutton[type="decrement"] {
    -moz-appearance: scrollbarbutton-left;
    background-image: url("chrome://global/skin/arrow/arrow-lft.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
    -moz-appearance: scrollbarbutton-up;
    background-image: url("chrome://global/skin/arrow/arrow-up.gif")
  }
}
