/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is
 * Håkan Waara
 * Portions created by the Initial Developer are Copyright (C) 2001
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Håkan Waara (Original Author)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttons {
	margin-right: -18px;
	margin-left: 3px;
	cursor: default;
}

.spinbuttons-button {
	margin: 0 3px;
	padding: 0;
	background: none;
	min-width: 13px;
}

.spinbuttons-button > .button-box {
	padding: 0;
	background: none;
}

/* ... up button ... */

.spinbuttons-up {
	background: url("chrome://global/skin/spinbutton/spin-up.png") no-repeat top left;
	width: 13px;
	height: 10px;
}

.spinbuttons-up:not([disabled="true"]):hover:active {
	background: url("chrome://global/skin/spinbutton/spin-up-active.png") no-repeat top left;
}

.spinbuttons-up[disabled="true"] {
	background: url("chrome://global/skin/spinbutton/spin-up.png") no-repeat top left;
}

spinbuttons:not([disabled="true"]) .spinbuttons-up[disabled="true"] {
	background: url("chrome://global/skin/spinbutton/spin-up-dis.png") no-repeat top left;
	opacity: 1;
}

/* ... down button ... */

.spinbuttons-down {
	background: url("chrome://global/skin/spinbutton/spin-down.png") no-repeat top left;
	width: 13px;
	height: 11px;
}
.spinbuttons-down:not([disabled="true"]):hover:active {
	background: url("chrome://global/skin/spinbutton/spin-down-active.png") no-repeat top left;
}

.spinbuttons-down[disabled="true"] {
	background: url("chrome://global/skin/spinbutton/spin-down.png") no-repeat top left;
}

spinbuttons:not([disabled="true"]) .spinbuttons-down[disabled="true"] {
	background: url("chrome://global/skin/spinbutton/spin-down-dis.png") no-repeat top left;
	opacity: 1;
}

