/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Joe Hewitt <hewitt@netscape.com>
 *   Kevin Gerich (webmail@kmgerich.com)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

/* ===== splitter.css ===================================================
 *  == Styles used by the XUL splitter element.
 *  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: splitter (vertical) ::::: */

splitter {
	-moz-box-align: center;
	-moz-box-pack: center;
	cursor: ew-resize;
	border-right: 1px solid #a3a3a3;
	border-left: 1px solid #a3a3a3;
	min-width: 5px;
	min-height: 5px;
	background: url("chrome://global/skin/splitter/dimple.png") transparent no-repeat center;
}

/* ::::: splitter (horizontal) ::::: */

splitter[orient="vertical"] {
	cursor: ns-resize;
	min-height: 5px;
	min-width: 5px;
	background: url("chrome://global/skin/splitter/dimple.png") transparent no-repeat center;
}

/* ::::: splitter grippy ::::: */

grippy {
	cursor: pointer;
	margin: 0px 1px;
	min-width: 4px;
	min-height: 115px;
	background-color: transparent;
	background-repeat: no-repeat;
}

grippy:hover {
	background-color: #CCCCFF;
}

splitter[orient="vertical"] > grippy {
	margin: 1px 0px;
	min-width: 115px;
	min-height: 4px;
}

/* ..... normal state ..... */

/* vertical grippies */
splitter[collapse="before"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-vrt-before.gif");
}

splitter[collapse="after"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-vrt-after.gif");
}

/* horizontal grippies */
splitter[collapse="before"][orient="vertical"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-hrz-before.gif");
}

splitter[collapse="after"][orient="vertical"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-hrz-after.gif");
}

/* ..... collapsed state ..... */

/* vertical grippies */
splitter[collapse="before"][state="collapsed"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-vrt-after.gif");
}

splitter[collapse="after"][state="collapsed"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-vrt-before.gif");
}

/* horizontal grippies */
splitter[collapse="before"][state="collapsed"][orient="vertical"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-hrz-after.gif");
}

splitter[collapse="after"][state="collapsed"][orient="vertical"] > grippy {
	background-image: url("chrome://global/skin/splitter/grip-hrz-before.gif");
}

