@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*** TAB: TOP <tab> ***/

tab {
  -moz-box-align: stretch;
  color        : #000000;
  padding: 3px;
}

.tab-text {
  font       : menu;
  font-weight: normal !important;
}

tabs {
  padding      : 0px;
  margin-bottom: -2px;
}


tabs.tabs-bottom {
  padding-left: 6px;
  padding-right: 6px;
}

.tabs-left, .tabs-right  {
  -moz-box-flex: 1 !important;
}

/*** TAB: BOTTOM <tab class="tab-bottom"> ***/
/* Found in editor.xul & editorOverlay.xul
 * SMALL TABS FOR NOW */

.tab-bottom {
  margin-bottom: 2px;
  margin-top: 2px;
  -moz-box-align: center;
}

.tab-bottom > .tab-middle {
  padding: 0 6px 0 6px;
  margin-bottom: 2px;
}


.tab-bottom > .tab-middle > .tab-text {
  font: message-box;
  font-weight: bold !important;
  margin: 0 0 -1px 0 !important;
  padding: 0 !important;
}


tabbox > tabs {
  padding: 0px;
  background-color: transparent;
}

tabbox > tabs > tab {
  -moz-box-align: stretch;
  color: #000;
  padding: 0px;
  height: 26px;
  cursor:pointer;
}

.tabs-bottom {
}

tabbox > tabs > .tabs-left {
  -moz-box-flex: 1;
  margin-left: 3px;
  background: url("chrome://global/skin/tabbox/tabs-bottom-left.png") no-repeat bottom left !important;
}

tabbox > tabs > .tabs-right {
  -moz-box-flex: 1;
  margin-right: 3px;
  background: url("chrome://global/skin/tabbox/tabs-bottom-right.png") no-repeat bottom right !important;
}

.tab-text {
  font: menu;
  font-weight: normal !important;
  padding: 0px 5px 3px 5px;
}

/* ::::: Tabpanels (visible in Page Info) ::::: */

tabpanels {
  -moz-appearance: none;
  border-top: 0px;
  border-right: 4px solid;
  -moz-border-right-colors: #EBEBEB #E3E3E3 #D4D4D4 #B2B2B2;
  border-left: 4px solid;
  -moz-border-left-colors: #EBEBEB #E3E3E3 #D4D4D4 #B2B2B2;
  border-bottom: 4px solid;
  -moz-border-bottom-colors: #EBEBEB #E3E3E3 #D4D4D4 #B2B2B2;
  padding: 15px 12px 12px 12px;
  background: #EEEEEE url("chrome://global/skin/tabbox/tabs-shadow.png") top left repeat-x;
  margin-bottom: 10px;
  margin-top: 0px;
}

tabbox > tabs > tab > .tab-image-left,
tabbox > tabs > tab > .tab-image-right {
  height: 26px !important;
}
tabbox > tabs > tab > .tab-image-left {
  background: url("chrome://global/skin/tabbox/tab-left.png") bottom left no-repeat;
  width: 7px;
}
/*
tabbox > tabs > tab[first-tab="true"] > .tab-image-left {
  background: url("chrome://global/skin/tabbox/tab-left-1st.png") bottom left no-repeat !important;
  width: 7px;
}
tabbox > tabs > tab[first-tab="true"][selected="true"] > .tab-image-left,
tabbox > tabs > tab:hover:active[first-tab="true"][selected="true"] > .tab-image-left {
  background: url("chrome://global/skin/tabbox/tab-left-1st-active.png") bottom left no-repeat !important;
  width: 7px;
}*/

tabbox > tabs > tab[selected="true"] > .tab-image-left,
tabbox > tabs > tab:hover:active[selected="true"] > .tab-image-left {
  background: url("chrome://global/skin/tabbox/tab-left-active.png") bottom left no-repeat;
  width: 7px;
}

tabbox > tabs > tab > .tab-image-middle {
  background: url("chrome://global/skin/tabbox/tab-mid.png") bottom left repeat-x;
  height: 26px;
}

tabbox > tabs > tab[selected="true"] > .tab-image-middle,
tabbox > tabs > tab:hover:active[selected="true"] > .tab-image-middle {
  background: url("chrome://global/skin/tabbox/tab-mid-active.png") bottom left repeat-x;
}

tabbox > tabs > tab > .tab-image-right {
  background: url("chrome://global/skin/tabbox/tab-right.png") bottom right no-repeat;
  width: 7px;
}

tabbox > tabs > tab[selected="true"] > .tab-image-right,
tabbox > tabs > tab:hover:active[selected="true"] > .tab-image-right {
  background: url("chrome://global/skin/tabbox/tab-right-active.png") bottom right no-repeat;
  width: 7px;
}
