/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-2001
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Joe Hewitt (hewitt@netscape.com)
 *   SmartBright (hb.smartbright@gmail.com) <macfox_nostalgia>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@import url("chrome://global/content/autocomplete.css");
  
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
	margin: 3px 4px;
	background-color: #fff;
	color: #000;
	cursor: text;
	min-height: 21px;
	padding: 3px 4px 2px;
	box-shadow:
		inset 0 1px 1px rgba(0, 0, 0, 0.68),
		inset 2px 0 rgba(0, 0, 0, 0.08),
		inset -2px 0 rgba(0, 0, 0, 0.08),
		inset 0 -1px rgba(0, 0, 0, 0.15);
}

textbox[empty="true"]/* Fx3.5 */,
textbox[isempty="true"]/* Fx3.6 */ {
	color: GrayText;
}

html|*.textbox-input, 
html|*.textbox-textarea {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background-color: inherit;
	color: inherit;
	font: inherit;
}

html|*.textbox-input:-moz-placeholder,
html|*.textbox-textarea:-moz-placeholder {
  color: GrayText;
}

/* ..... focused state ..... */

textbox[focused="true"] {
	box-shadow:
		0 0 3px 2px #97bee0,
		inset 0 0 2px #97bee0,

		inset 0 1px 1px rgba(0, 0, 0, 0.68),
		inset 2px 0 rgba(0, 0, 0, 0.08),
		inset -2px 0 rgba(0, 0, 0, 0.08),
		inset 0 -1px rgba(0, 0, 0, 0.15);
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
	background-color: #f0f0f0;
	color: #000;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
	cursor: default;
	background-color: #f8f8f8;
	color: #5f5f5f;
	opacity: .5
} 

/* ::::: plain textbox ::::: */

textbox.plain {
	-moz-appearance: none !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background-color: transparent;
	box-shadow: none;
	min-height: 0;
}


/* ::::: rounded search box ::::: */


textbox[type="search"] {
	-moz-padding-start: 6px;
	border-radius: 43px 43px 43px 43px / 37px 37px 37px 37px;
}

.textbox-search-icon {
	list-style-image: url("chrome://global/skin/icons/textbox-search.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-clear {
	list-style-image: url("chrome://global/skin/icons/textbox-search-clear.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-clear:not([disabled]):hover ,
.textbox-search-icon[searchbutton]:not([disabled]):hover {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

.textbox-search-clear:not([disabled]):hover:active ,
.textbox-search-icon[searchbutton]:not([disabled]):hover:active {
	-moz-image-region: rect(0, 48px, 16px, 32px);
}

.textbox-search-icon[searchbutton]:not([disabled]) {
	cursor: pointer;
}

.textbox-search-clear:not([disabled]) {
	cursor: default;
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
	visibility: hidden;
}
