
body.private > #errorPageContainer {
  background-image: url("chrome://browser/skin/Privacy-48.png");
  border: 1px solid purple;
}

body.normal > #errorPageContainer {
  background-image: url("moz-icon://stock/gtk-dialog-question?size=dialog");
}

#clearRecentHistoryDesc {
  margin-top: 2em;
}

#clearRecentHistoryDesc > p {
  font-size: 110%; /* to match the value set in chrome://global/skin/netError.css */
}

#startPrivateBrowsingDesc > button {
  -moz-margin-start: 0;
}

#footerDesc > p {
  font-size: 110%; /* to match the value set in chrome://global/skin/netError.css */
}

#moreInfo {
  font-size: 110%; /* to match the value set in chrome://global/skin/netError.css */
  -moz-padding-start: 25px;
  background: url("moz-icon://stock/gtk-dialog-info?size=menu") no-repeat top left;
}

body[dir="rtl"] #moreInfo {
  background-position: top right;
}

#moreInfoText {
  margin-bottom: 0;
}

#moreInfoLinkContainer {
  margin-top: 0.5em;
}
