/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-1999
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Joe Hewitt (hewitt@netscape.com)
 *   Jason Kersey (kerz@netscape.com)
 *   Pierre Chanial (chanial@noos.fr)
 *   Kevin Gerich (kevin@kmgerich.com)
 *   Pamela Greene (pamg.bugs@gmail.com)
 *   Dao Gottwald (dao@design-noir.de)
 *   Stephen Horlander (stephen@noved.org)
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

@import url("chrome://global/skin/");
@import url("chrome://browser/skin/browserPersonalToolbar.css");
@import url("chrome://browser/skin/browserMainToolbar.css");
@import url("chrome://browser/skin/browserLocationBar.css");
@import url("chrome://browser/skin/browserTabBrowser.css");
@import url("chrome://browser/skin/browserIdentityPopupPanel.css");
@import url("chrome://browser/skin/browserInspector.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");




/* ----- FULLSCREEN WINDOW CONTROLS ----- */

#window-controls {
  -moz-box-align: center;
  padding: 0;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

#minimize-button {
  list-style-image: url("chrome://global/skin/icons/minimize.gif");
}
#restore-button {
  list-style-image: url("chrome://global/skin/icons/restore.gif");
}
#close-button {
  list-style-image: url("chrome://global/skin/icons/close.gif");
}


/* ----- SECURITY DISPLAY ----- */

#security-button {
  display: none;
  -moz-box-direction: reverse;
}

#security-button[level="high"] {
  list-style-image: url("chrome://browser/skin/Secure-statusbar.png");
  display: -moz-box;
}

#security-button[level="low"] {
  list-style-image: url("chrome://browser/skin/Secure-statusbar.png");
  display: -moz-box;
}

#security-button[level="broken"] {
  list-style-image: url("chrome://browser/skin/Secure-statusbar-broken.png");
  display: -moz-box;
}

/* ----- PAGE REPORT DISPLAY ----- */

#page-report-button {
  display: none;
}

#page-report-button[blocked] {
  display: -moz-box;
  list-style-image: url("chrome://browser/skin/Popup-blocked.png");
  padding: 0px 3px 0px 3px;
}




/* ----- THROBBER ----- */

#navigator-throbber {
  -moz-appearance: none;
  -moz-user-focus: ignore;
  -moz-box-pack: center;
  margin: 0px 4px !important;
  border: none !important;
  padding: 0;
  min-width: 0;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
  height: 16px;
  width: 17px;
}

/* XXXmano: hack until we figure out why the throbber uses a button instead
   of a toolbarbutton */
#navigator-throbber .button-text {
  display: none;
  margin: 0 !important;
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

toolbar[iconsize="small"] #navigator-throbber[busy="true"],
toolbar[mode="text"] #navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

#wrapper-throbber-box > #throbber-box > #navigator-throbber {
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
}

toolbarbutton.chevron {
  list-style-image: url("chrome://global/skin/icons/chevron.png") !important;
}


toolbarbutton.chevron > .toolbarbutton-menu-dropmarker {
  display: none;
}
/*
#toolbar-menubar, #nav-bar {
  background-color: #9e9e9e;
  border-top: none;
  border-bottom: 1px solid rgba(0,0,0,0.35);
  background-image: url("chrome://global/skin/toolbar/toolbar-background.gif");
  background-repeat: repeat-x;
  background-position: top right;
  padding: 0 4px;
}
*/
#nav-bar[collapsed="true"] + toolbar[customindex] {
 border-top: 2px solid;
 -moz-border-top-colors: rgba(0,0,0,0.35) rgba(255,255,255,0.45);
}

.bookmark-item {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.openintabs-menuitem {
  list-style-image: none;
}


/*	SAGE TOOLBAR ICON
 *		--------------------------------------
 *		*/

#sage-button {
	list-style-image: url("chrome://browser/skin/sage.png") !important;
}


/*	WEBDEVELOPER TOOLBAR ICON
 *		--------------------------------------
 *		*/

#webdeveloper-button {
	list-style-image: url("chrome://browser/skin/pinstripe_toolbar/webdeveloper.png") !important;
	-moz-image-region: rect(0px 32px 32px 0) !important;
}

/*	Hidding useless stuff
 *		--------------------------------------
 *		*/

/*#go-button,
#go-button-stack,
.search-go-button-stack,
.search-go-button {
display:none !important;
}
 */



toolbox #back-forward-dropmarker {
	-moz-appearance: none !important;
border: none !important;
display: inline !important;
padding: 0 !important;
margin: 0 3px 0 1px !important;
	list-style-image: url("chrome://browser/skin/bf-drop.png") !important;
	-moz-image-region: rect( 0px 7px 32px 0px) !important;
opacity: 0.7 !important;
}
toolbox #back-forward-dropmarker:hover {
	-moz-appearance: none !important;
border: none !important;
opacity: 1.0 !important;
}
toolbox[iconsize="small"] #back-forward-dropmarker {
	padding-top: 1px !important;
margin: 0 4px 0 1px !important;
	list-style-image: url("chrome://browser/skin/bf-drop-small.png") !important;
	-moz-image-region: rect( 0px 7px 23px 0px) !important;
}
toolbox #back-forward-dropmarker[disabled="true"],
	toolbox #back-forward-dropmarker[disabled="true"]:hover {
opacity: 0.25 !important;
}

/* Status panel (a small label on a link hover) */

.statuspanel-label {
  margin: 0;
  padding: 2px 4px;
  background: #DFDFDF;
  color: #6F6F6F;
  text-shadow: none;
}

.statuspanel-label[overchrome] {
  border-bottom-style: solid;
  border-top-style: none;
}

.statuspanel-label:-moz-locale-dir(ltr):not([mirror]),
.statuspanel-label:-moz-locale-dir(rtl)[mirror] {
  border-top-right-radius: .3em;
  margin-right: 1em;
}

.statuspanel-label:-moz-locale-dir(ltr):not([mirror])[overchrome],
.statuspanel-label:-moz-locale-dir(rtl)[mirror][overchrome] {
  border-bottom-right-radius: .3em;
  border-top-right-radius: 0;
}

.statuspanel-label:-moz-locale-dir(rtl):not([mirror]),
.statuspanel-label:-moz-locale-dir(ltr)[mirror] {
  border-top-left-radius: .3em;
  margin-left: 1em;
}

.statuspanel-label:-moz-locale-dir(rtl):not([mirror])[overchrome],
.statuspanel-label:-moz-locale-dir(ltr)[mirror][overchrome] {
  border-bottom-left-radius: .3em;
  border-top-left-radius: 0;
}

/* Add-on bar (formerly statusbar) */

#addon-bar {
	height: 18px;
	border-top: 1px solid #D6D6D6 !important;
	color: #123272;
}

#addon-bar:not(:-moz-lwtheme) {
	-moz-appearance: statusbar;
}

#status-bar {
	-moz-appearance: none;
	background-color: transparent;
	border: none;
	min-height: 0;
}

#status-bar > statusbarpanel {
	border-width: 0;
	-moz-appearance: none;
}

#addonbar-closebutton {
	border: none;
	padding: 0 2px;
	list-style-image: url("chrome://global/skin/icons/closetab.png");
	-moz-appearance: none;
}

#addonbar-closebutton:hover {
	list-style-image: url("chrome://global/skin/icons/closetab-hover.png");
}

#addonbar-closebutton:hover:active {
	list-style-image: url("chrome://global/skin/icons/closetab-active.png");
}

/* Firefox global menu */

#appmenu-toolbar-button {
	/*-moz-appearance: none;
	background: linear-gradient(rgb(247,182,82), rgb(215,98,10) 95%);
	background-clip: padding-box;
	border-radius: 4px;
	border: 1px solid rgba(83,42,6,.9);
	font-size: 8pt;
	box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,
		0 0 0 1px rgba(255,255,255,.25) inset;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,.7),
		0 1px 1.5px rgba(0,0,0,.5);
	padding: 0 2px .5px;
	margin: 1px;*/
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,.7),
		0 1px 1.5px rgba(0,0,0,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,
		0 0 0 1px rgba(255,255,255,.25) inset;

	margin: -1px 0px -4px;
	border-right: 1px solid rgba(0,0,0,.3) !important;
	background: linear-gradient(rgb(247,182,82), rgb(215,98,10) 95%);
}

#appmenu-button {
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,.7),
	0 1px 1.5px rgba(0,0,0,.5);
	margin: 0px;
	border-right: 1px solid rgba(0,0,0,.3) !important;
	background: linear-gradient(rgb(247,182,82), rgb(215,98,10) 95%);
}

#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button,
#main-window[privatebrowsingmode=temporary] #appmenu-button {
	background-image: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%);
	border-color: rgba(43,8,65,.9);
}

#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:not(:active):not([open]),
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:not(:active):not([open]) {
	background-image: radial-gradient( farthest-side, rgba(240,193,255,.5) 10%, rgba(240,193,255,0) 70%),
		radial-gradient( farthest-side, rgb(192,81,247), rgba(236,172,255,0)),
		linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
	box-shadow: 0 1px 0 rgba(255,255,255,.1) inset,
		0 0 2px 1px rgba(240,193,255,.7) inset,
		0 -1px 0 rgba(240,193,255,.5) inset !important;
}

#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-button[open],
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-toolbar-button[open] {
	background-image: linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
}

#appmenu-button > .button-box {
	background: none !important;
}

#appmenu-toolbar-button:hover:not(:active):not([open]),
#appmenu-button:hover:not(:active):not([open]) {
	background-image: radial-gradient( farthest-side, rgba(252,240,89,.5) 10%, rgba(252,240,89,0) 70%),
		radial-gradient( farthest-side, rgb(236,133,0), rgba(255,229,172,0)),
		linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%);
	border-color: rgba(83,42,6,.9);
	border-right-color: black;
	box-shadow: 0 1px 0 rgba(255,255,255,.1) inset,
		0 0 1.5px 1px rgba(250,234,169,.7) inset,
		0 -1px 0 rgba(250,234,169,.5) inset;
}


#appmenu-toolbar-button:hover:active,
#appmenu-toolbar-button[open],
#appmenu-button:hover:active{
/* 	background-image: url("chrome://browser/skin/tabbrowser/tab-middle-hover.png") repeat-x !important; */
	background-image: radial-gradient( farthest-side, rgba(252,240,89,.5) 10%, rgba(252,240,89,0) 70%),
	radial-gradient( farthest-side, rgb(236,133,0), rgba(255,229,172,0)),
	linear-gradient(rgb(246,170,69), rgb(209,74,0) 95%);
/* 	background: rgba(0,0,0,.30) !important; */
}

#appmenu-toolbar-button > .button-box {
	border-style: none;
}

#appmenu-toolbar-button >  dropmarker {
	list-style-image: url("chrome://browser/skin/appmenu-dropmarker.png") !important;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	-moz-margin-start: .15em;
}

/*#appmenu_print,
#appmenu_print_popup,
.appmenu-edit-button,
#appmenu_fullScreen,
#appmenu-quit,#appmenu_sendLink,
#appmenu_customize,
#appmenu_preferences,
#menu_preferences,
#appmenu_history,
#appmenu_showAllHistory,
#menu_showAllHistory {
list-style-image: url("chrome://browser/skin/kdemenus.png");
}*/

#appmenu-cut {
	list-style-image: url("chrome://browser/skin/kdemenus.png");
	-moz-image-region: rect(16px 160px 32px 144px);
}
#appmenu-copy {
	list-style-image: url("chrome://browser/skin/kdemenus.png");
	-moz-image-region: rect(32px 16px 48px 0px);
}
#appmenu-paste {
	list-style-image: url("chrome://browser/skin/kdemenus.png");
	-moz-image-region: rect(32px 32px 48px 16px);
}

#appmenu-cut[disabled],
#appmenu-copy[disabled],
#appmenu-paste[disabled] {
	opacity: .5;
}

/*#appmenu_print,#appmenu_print_popup {-moz-image-region: rect(16px 64px 32px 48px);}
#appmenu_fullScreen {-moz-image-region: rect(48px 160px 64px 144px); }
#appmenu-quit {-moz-image-region: rect(16px 80px 32px 64px);}
#appmenu_sendLink {-moz-image-region: rect(0px 48px 16px 32px);}
#appmenu_customize,#appmenu_preferences,#menu_preferences { -moz-image-region: rect(32px 112px 48px 96px);}

#appmenu_history,#appmenu_showAllHistory,#menu_showAllHistory {-moz-image-region: rect(64px 64px 80px 48px);}*/

/* don't touch */

#appmenuPrimaryPane,
#appmenuSecondaryPane {
	font-size: 10pt;
	color: black;
}

#appmenuPrimaryPane menu[_moz-menuactive="true"],
#appmenuPrimaryPane  menuitem[_moz-menuactive="true"],
#appmenuSecondaryPane menu[_moz-menuactive="true"],
#appmenuSecondaryPane  menuitem[_moz-menuactive="true"],
#appmenuPrimaryPane .splitmenu-menuitem[_moz-menuactive="true"],
#appmenuSecondaryPane  .splitmenu-menuitem[_moz-menuactive="true"] {
	background: url('chrome://global/skin/menu/menuhighlight.png') center repeat-x;
	color: white;
}

/* Experimental stuff */
#appmenuSecondaryPane {
	margin-left:2px;
	border-style: solid;
	border-width: 7px;
	border-image: url(chrome://browser/skin/bg3.png) 9 stretch;
}

@media all and (-moz-windows-theme:aero) {
	window #appmenu-container #appmenu-button {
		border-top-width: 0px;
		margin-bottom: 2px;
		-moz-border-top-colors: rgba(255,255,255,.5) rgba(83,42,6,.9);
	}

	#main-window[privatebrowsingmode=temporary] #appmenu-button {
		-moz-border-top-colors: rgba(255,255,255,.5) rgba(43,8,65,.9);
	}

	#main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme) {
		background: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px),
					linear-gradient(rgba(50%,50%,50%,0), ActiveCaption 85%);
					color: CaptionText;
	}
	#main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive {
		background: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px),
					linear-gradient(rgba(50%,50%,50%,0), InactiveCaption 85%);
					color: InactiveCaptionText;
	}

	#main-window {
		-moz-appearance: -moz-win-borderless-glass;
		background: transparent;
	}

	#main-window[tabsintitlebar] #titlebar:-moz-lwtheme {
		visibility: hidden;
	}
	#main-window[tabsintitlebar] #titlebar-content:-moz-lwtheme {
		-moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
		visibility: visible;
	}
}

/* ::::: titlebar ::::: */

#main-window[sizemode="normal"] > #titlebar {
	-moz-appearance: -moz-window-titlebar;
}

#main-window[sizemode="maximized"] > #titlebar {
	-moz-appearance: -moz-window-titlebar-maximized;
}

@media all and (-moz-windows-classic) {
	#main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container {
		margin-top: 4px;
	}
}

#titlebar-buttonbox {
	-moz-appearance: -moz-window-button-box;
}

#main-window[sizemode="maximized"] #titlebar-buttonbox {
	-moz-appearance: -moz-window-button-box-maximized;
}

.titlebar-placeholder[type="appmenu-button"] {
	margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
	margin-left: 10px;
}

/* titlebar command buttons */

#titlebar-min {
	-moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
	-moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
	-moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
	-moz-appearance: -moz-window-button-close;
}

@media not all and (-moz-windows-classic) {
	#titlebar-min {
		-moz-margin-end: 2px;
	}
}

@media not all and (-moz-windows-classic) {
	#titlebar-min {
		-moz-margin-end: 2px;
	}
}

/* Notification Popup */
#notification-popup {
	min-width: 280px;
}

.popup-notification-icon {
	width: 64px;
	height: 64px;
	-moz-margin-end: 10px;
}

.popup-notification-icon[popupid="geolocation"] {
	list-style-image: url("chrome://global/skin/icons/Geolocation-64.png");
}

.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-progress"],
.popup-notification-icon[popupid="addon-install-cancelled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-failed"],
.popup-notification-icon[popupid="addon-install-complete"] {
	list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
	width: 32px;
	height: 32px;
}

.popup-notification-icon[popupid="click-to-play-plugins"] {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginBlocked-64.png");
}

.popup-notification-icon[popupid="indexedDB-permissions-prompt"],
.popup-notification-icon[popupid="indexedDB-quota-prompt"],
.popup-notification-icon[popupid*="offline-app-requested"],
.popup-notification-icon[popupid="offline-app-usage"] {
	list-style-image: url("chrome://global/skin/icons/question-64.png");
}

.popup-notification-icon[popupid="password-save"],
.popup-notification-icon[popupid="password-change"] {
	list-style-image: url("chrome://mozapps/skin/passwordmgr/key-64.png");
}

.popup-notification-icon[popupid="webapps-install-progress"],
.popup-notification-icon[popupid="webapps-install"] {
  list-style-image: url("chrome://global/skin/icons/webapps-64.png");
}

.popup-notification-icon[popupid="mixed-content-blocked"] {
  list-style-image: url("chrome://browser/skin/identity/mixed-content-blocked-64.png");
}

.popup-notification-icon[popupid="webRTC-sharingDevices"],
.popup-notification-icon[popupid="webRTC-shareDevices"] {
  list-style-image: url("chrome://browser/skin/webRTC-shareDevice-64.png");
}

.popup-notification-icon[popupid="pointerLock"] {
  list-style-image: url("chrome://browser/skin/pointerLock-64.png");
}

.addon-progress-description {
	width: 350px;
	max-width: 350px;
}

.popup-progress-label,
.popup-progress-meter {
	-moz-margin-start: 0;
	-moz-margin-end: 0;
}

.popup-progress-cancel {
	-moz-appearance: none;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	-moz-margin-start: 5px;
	min-height: 0;
	min-width: 0;
	list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.popup-progress-cancel > .button-box {
	background: transparent none;
}

/* Click to play notification */

.click-to-play-plugins-notification-content {
  margin: -10px;
}

.click-to-play-plugins-notification-icon-box {
  -moz-border-end: 1px solid hsla(0,0%,100%,.2);
  padding-top: 16px;
  -moz-padding-start: 16px;
  -moz-padding-end: 6px;
}

.click-to-play-plugins-notification-separator {
  -moz-border-start: 1px solid hsla(211,79%,6%,.1);
  border-top: 1px solid hsla(211,79%,6%,.1);
}

.click-to-play-plugins-notification-description-box {
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  -moz-border-start: 1px solid hsla(0,0%,100%,.2);
  padding: 14px 10px 9px 10px;
}

.click-to-play-plugins-notification-center-box {
  border-top: 1px solid hsla(0,0%,100%,.2);
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  background-color: hsla(211,79%,6%,.05);
}

.click-to-play-plugins-notification-button-container {
  border-top: 1px solid hsla(0,0%,100%,.2);
  -moz-border-start: 1px solid hsla(0,0%,100%,.2);
  margin: 0px;
  padding: 25px;
}

.center-item-box {
  padding-top: 11px;
  -moz-padding-start: 16px;
  -moz-padding-end: 11px;
  margin-bottom: -2px;
  -moz-border-start: 1px solid hsla(0,0%,100%,.2);
}

.center-item-box[padbottom="true"] {
  padding-bottom: 12px;
}

.center-item-icon {
  background-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-bottom: 4px;
}


/* Highlighter */

.highlighter-outline {
    box-shadow: 0 0 0 1px black;
    outline: 1px dashed white;
    outline-offset: -1px;
}

.highlighter-outline[locked]  {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    outline-color: rgba(255,255,255,0.7);
}

/* Developer toolbar */

#developer-toolbar {
    border-top: 1px solid hsla(210, 8%, 5%, .65);
}

/* Highlighter - Node Infobar */

.highlighter-nodeinfobar {
    color: hsl(200, 100%, 65%);
    border: 1px solid hsla(210, 19%, 63%, .5);
    border-radius: 3px;
    background: linear-gradient(hsl(209, 18%, 30%), hsl(210, 24%, 16%)) no-repeat padding-box;
}

/* Highlighter - Node Infobar - text */

.highlighter-nodeinfobar-text {
    /* 100% - size of the buttons and margins */
    max-width: calc(100% - 2 * (26px + 6px));
    padding-bottom: 1px;
}

html|*.highlighter-nodeinfobar-tagname {
    color: white;
}

html|*.highlighter-nodeinfobar-id {
    color: hsl(90, 79%, 52%);
}

html|*.highlighter-nodeinfobar-pseudo-classes {
    color: hsl(20, 100%, 70%);
}

/* Highlighter - Node Infobar - buttons */

.highlighter-nodeinfobar-button {
    -moz-appearance: none;
    border: 0 solid hsla(210,8%,5%,.45);
    padding: 0;
    width: 26px;
    min-height: 26px;
}

.highlighter-nodeinfobar-inspectbutton {
    -moz-border-end-width: 1px;
    box-shadow: 1px 0 0 hsla(210,16%,76%,.15), -1px 0 0 hsla(210,16%,76%,.15) inset;
    -moz-margin-end: 6px;
    list-style-image: url("chrome://browser/skin/devtools/inspect-button.png");
    -moz-image-region: rect(0px 16px 16px 0px);
}

.highlighter-nodeinfobar-inspectbutton:-moz-locale-dir(rtl) {
    box-shadow: -1px 0 0 hsla(210,16%,76%,.15), 1px 0 0 hsla(210,16%,76%,.15) inset;
}

.highlighter-nodeinfobar-inspectbutton:active:hover,
.highlighter-nodeinfobar-container:not([locked]) >  .highlighter-nodeinfobar >  .highlighter-nodeinfobar-inspectbutton {
    -moz-image-region: rect(0px 32px 16px 16px);
}

.highlighter-nodeinfobar-menu {
    -moz-border-start-width: 1px;
    box-shadow: -1px 0 0 hsla(210,16%,76%,.15), 1px 0 0 hsla(210,16%,76%,.15) inset;
    -moz-margin-start: 6px;
}

.highlighter-nodeinfobar-menu:-moz-locale-dir(rtl) {
    box-shadow: 1px 0 0 hsla(210,16%,76%,.15), -1px 0 0 hsla(210,16%,76%,.15) inset;
}

.highlighter-nodeinfobar-menu > .toolbarbutton-menu-dropmarker {
    -moz-appearance: none !important;
    list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
    -moz-box-align: center;
    -moz-margin-start: -1px;
}

/* Highlighter - Node Infobar - box & arrow */

.highlighter-nodeinfobar-arrow {
    width: 14px;
    height: 14px;
    -moz-margin-start: calc(50% - 7px);
    transform: rotate(-45deg);
    border: 1px solid transparent;
    background-clip: padding-box;
    background-repeat: no-repeat;
}

.highlighter-nodeinfobar-arrow-top {
    margin-bottom: -8px;
    margin-top: 8px;
    border-right-color: hsla(210, 19%, 63%, .5);
    border-top-color: hsla(210, 19%, 63%, .5);
    background-image: linear-gradient(to top right, transparent 50%, hsl(209, 18%, 30%) 50%);
}

.highlighter-nodeinfobar-arrow-bottom {
    margin-top: -8px;
    margin-bottom: 8px;
    border-left-color: hsla(210, 19%, 63%, .5);
    border-bottom-color: hsla(210, 19%, 63%, .5);
    background-image: linear-gradient(to bottom left, transparent 50%, hsl(210, 24%, 16%) 50%);
}

.highlighter-nodeinfobar-container[position="top"] > .highlighter-nodeinfobar,
.highlighter-nodeinfobar-container[position="overlap"] > .highlighter-nodeinfobar {
    box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1) inset;
}

.highlighter-nodeinfobar-container[hide-arrow] > .highlighter-nodeinfobar {
    margin: 7px 0;
}

#full-screen-warning-message {
    background-color: hsl(0,0%,15%);
    color: white;
    border-radius: 8px;
    margin-top: 30px;
    padding: 30px 50px;
    box-shadow: 0 0 2px white;
}

#full-screen-warning-container[obscure-browser] {
    background-color: rgba(0,0,0,0.3);
}

.full-screen-description {
    font-size: 150%;
}

#full-screen-domain-text {
    font-size: 300%;
}

.full-screen-approval-button,
#full-screen-remember-decision {
    font-size: 120%;
}

html|*#gcli-tooltip-frame,
html|*#gcli-output-frame {
    padding: 0;
    border-width: 0;
    background-color: transparent;
}

#gcli-output,
#gcli-tooltip {
    border-width: 0;
    background-color: transparent;
    -moz-appearance: none;
    margin-bottom: -2px;
}

.gclitoolbar-input-node,
.gclitoolbar-complete-node,
.gclitoolbar-prompt {
    margin: 0;
    -moz-margin-end: 5px;
    -moz-box-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-shadow: none;
}

.gclitoolbar-input-node {
    padding-left: 20px;
    background-color: transparent;
    -moz-appearance: none;
    border-color: hsl(210,11%,10%);
    color: hsl(210,30%,85%);
    text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
    box-shadow: 0 1px 1px hsla(210,8%,5%,.3) inset,
    0 0 0 1px hsla(210,16%,76%,.1) inset,
    0 1px 0 hsla(210,16%,76%,.15);
}

.gclitoolbar-input-node > .textbox-input-box > html|*.textbox-input::-moz-selection {
    background-color: hsl(210,30%,85%);
    color: hsl(210,11%,16%);
    text-shadow: none;
}

.gclitoolbar-complete-node {
    padding-left: 21px;
    background-color: transparent;
    color: transparent;
}

.gclitoolbar-prompt {
    padding-left: 4px;
    padding-bottom: 2px;
    font-size: 150%;
    font-weight: bold;
    color: hsl(210,30%,85%);
    background-color: hsl(210,11%,16%);
}

.gclitoolbar-prompt-label,
.gcli-in-incomplete,
.gcli-in-error,
.gcli-in-ontab,
.gcli-in-todo,
.gcli-in-closebrace,
.gcli-in-param,
.gcli-in-valid {
    margin: 0;
    padding: 0;
}

.gcli-in-incomplete {
    border-bottom: 2px dotted #999;
}

.gcli-in-error {
    border-bottom: 2px dotted #F00;
}

.gcli-in-ontab {
    color: hsl(210,0%,35%);
}

.gcli-in-todo {
    color: hsl(210,50%,35%);
}

.gcli-in-closebrace {
    color: hsl(0,0%,80%);
}

/* Responsive Mode */

.browserContainer[responsivemode] {
    background: #222 url("chrome://browser/skin/devtools/responsive-background.png");
    padding: 0 20px 20px 20px;
}

.browserStack[responsivemode] {
    box-shadow: 0 0 7px black;
}

.devtools-responsiveui-toolbar {
    background: transparent;
    margin: 10px 0;
    padding: 0;
    box-shadow: none;
}

.devtools-responsiveui-toolbar > menulist,
.devtools-responsiveui-toolbar > toolbarbutton {
    min-width: 22px;
    border-radius: 0;
}

.devtools-responsiveui-toolbar:-moz-locale-dir(ltr) > *:first-child,
.devtools-responsiveui-toolbar:-moz-locale-dir(rtl) > *:last-child {
    margin-left: 0;
}

.devtools-responsiveui-resizebar {
    width: 7px;
    height: 24px;
    cursor: ew-resize;
    transform: translate(12px, -12px);
    background-image: url("chrome://browser/skin/devtools/responsive-vertical-resizer.png");
}

.devtools-responsiveui-resizehandle {
    width: 16px;
    height: 16px;
    cursor: se-resize;
    transform: translate(12px, 12px);
    background-image: url("chrome://browser/skin/devtools/responsive-se-resizer.png");
}

/* Web Console */

.web-console-frame {
    border-bottom: 1px solid #aaa;
}

.web-console-frame[animated] {
    transition: height 100ms;
}

/* Developer Toolbar */

#developer-toolbar-toolbox-button {
    min-width: 18px;
}

#developer-toolbar-toolbox-button > .toolbarbutton-text {
    display: none;
}

#developer-toolbar-toolbox-button > .toolbarbutton-icon {
    -moz-margin-end: 0;
}

.developer-toolbar-button {
    -moz-appearance: none;
    min-width: 78px;
    min-height: 22px;
    text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
    border-radius: 3px;
    color: inherit;
    border: 1px solid transparent;
    margin: 0 5px;
    padding: 0 10px;
    list-style-image: url("chrome://browser/skin/devtools/tools-icons-small.png");
}

.developer-toolbar-button[open=true],
.developer-toolbar-button:active:hover,
.developer-toolbar-button[checked=true] {
    border-color: hsla(210,8%,5%,.6);
    background: rgba(0,0,0,.6);
    box-shadow: 0 1px 2px rgba(0,0,0,.5) inset, 0 1px 0 hsla(210,16%,76%,.15);
}

.developer-toolbar-button:hover,
.developer-toolbar-button[checked=true],
.developer-toolbar-button[open=true] {
    color: hsl(208,100%,60%) !important;
    text-shadow: 0 0 6px hsl(208,100%,60%);
}

.developer-toolbar-button[checked=true] {
    background: rgba(0,0,0,.4);
}

#developer-toolbar-toolbox-button {
    -moz-image-region: rect(64px, 22px, 80px, 0);
}

/* Error counter */

#developer-toolbar-toolbox-button[error-count]:before {
    color: #FDF3DE;
    min-width: 16px;
    text-shadow: none;
    background-image: linear-gradient(#B4211B, #8A1915);
    border-radius: 1px;
    -moz-margin-end: 2px;
}
