@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ----- nav-bar-inner ----- */

#urlbar-container {
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
}

#urlbar {
	min-width: 7em;
	min-height: 23px;
	border: none;
	box-shadow:
			inset 0 1px 1px rgba(0, 0, 0, 0.68),
			inset 2px 0 rgba(0, 0, 0, 0.08),
			inset -2px 0 rgba(0, 0, 0, 0.08),
			inset 0 -1px rgba(0, 0, 0, 0.15);
	-moz-appearance: none;
}

#urlbar > .autocomplete-textbox-container {
	-moz-box-align: stretch;
}


/* ..... focused state ..... */

#urlbar[focused="true"] {
	box-shadow:
		0 0 3px 2px #97bee0,
		inset 0 0 2px #97bee0,

		inset 0 1px 1px rgba(0, 0, 0, 0.68),
		inset 2px 0 rgba(0, 0, 0, 0.08),
		inset -2px 0 rgba(0, 0, 0, 0.08),
		inset 0 -1px rgba(0, 0, 0, 0.15);
}

#urlbar .textbox-input-box {
	padding-top: 3px;
	padding-bottom: 2px;
}



.autocomplete-textbox {
	background-image: inherit !important;
   
}

#urlbar-icons {
  	-moz-box-align: center;
  	min-height: 16px;
}

#urlbar[pageproxystate="invalid"] > #urlbar-icons > :not(#go-button) ,
#urlbar[pageproxystate="valid"] > #urlbar-icons > #go-button {
  	visibility: collapse;
}

#urlbar-search-splitter {
	border: none;
	min-width: 4px;
	width: 4px;
}

#wrapper-urlbar-container #urlbar,
#urlbar[readonly="true"] {
  	-moz-padding-end: 12px;
  	-moz-user-input: disabled;
  	cursor: -moz-grab;
}

#wrapper-urlbar-container[place="palette"] {
  	max-width: 20em;
}

/*#wrapper-urlbar-container > #urlbar-container > #urlbar > #identity-box > hbox > #identity-icon-label,*/
#wrapper-urlbar-container #urlbar > .autocomplete-history-dropmarker {
  	display: none;
}


/* Keep the URL bar LTR */


#urlbar .autocomplete-textbox-container {
	direction: ltr;
}

#PopupAutoComplete {
	direction: ltr !important;
}

#PopupAutoComplete[chromedir="rtl"] > tree > treerows {
	direction: rtl;
}

#PopupAutoComplete .autocomplete-treebody {
	direction: ltr;
}

#PopupAutoCompleteRichResult {
	direction: ltr !important;
}

statusbarpanel#statusbar-display {
  	-moz-padding-start: 0;
}

.statusbarpanel-text {
  	margin-top: 2px;
  	margin-bottom: 0;
}

/* ----- AUTOCOMPLETE ----- */

#treecolAutoCompleteImage {
  	max-width: 36px;
}

.ac-result-type-bookmark,
.autocomplete-treebody::-moz-tree-image(bookmark, treecolAutoCompleteImage) {
	list-style-image: url("chrome://browser/skin/places/editBookmark.png");
	-moz-image-region: rect(0px 16px 16px 0px);
	width: 16px; 
	height: 16px;
}

.ac-result-type-tag,
.autocomplete-treebody::-moz-tree-image(tag, treecolAutoCompleteImage) {
  	list-style-image: url("chrome://browser/skin/places/tag.png");
  	width: 16px;
  	height: 16px;
}

.ac-comment {
	font-size: 1.2em;
}

.ac-extra > .ac-comment {
	font-size: inherit;
}

.ac-url-text {
	color: #144fae;
	font-size: 0.95em;
}

.autocomplete-treebody::-moz-tree-cell-text(treecolAutoCompleteComment) {
  	color: GrayText;
}

.ac-comment[selected="true"], .ac-url-text[selected="true"] {
  	color: inherit !important;
}

.autocomplete-treebody::-moz-tree-cell-text(suggesthint, treecolAutoCompleteComment), 
.autocomplete-treebody::-moz-tree-cell-text(suggestfirst, treecolAutoCompleteComment) 
{
  	color: GrayText;
  	font-size: smaller;
}

.autocomplete-treebody::-moz-tree-cell(suggesthint) {
  	border-top: 1px solid GrayText;
}

/* Combined go/reload/stop button in location bar */

#urlbar > toolbarbutton {
	-moz-appearance: none;
	list-style-image: url("chrome://browser/skin/urlbar/reload-stop-go.png");
	margin: 2px;
	margin-top: 3px;
	margin-right: 3px;
	-moz-margin-start: 4px;
	padding: 2px;
	background-origin: border-box;
	border: none;
/* 	-moz-border-start: 1px solid rgba(0,0,0,.35); */
	border-radius: 2px;
}
/*
#urlbar:-moz-locale-dir(ltr) > toolbarbutton {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#urlbar:-moz-locale-dir(rtl) > toolbarbutton {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}*/

#urlbar > toolbarbutton:not([disabled]):hover {
	-moz-border-start: none;
	margin-left: 4px;
}

#urlbar > toolbarbutton:not([disabled]):active:hover {
 	margin-left: 4px; 
	-moz-border-start: none;
	box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset,
			      0 0 2px rgba(0,0,0,.4) inset;
}


#urlbar-go-button {
	-moz-image-region: rect(0px, 56px, 14px, 42px);
	background-image: linear-gradient(rgb(143,219,69), rgb(115,177,57));
	box-shadow: 0 1px 0 rgba(0,0,0,.1) inset,
	-1px -1px 0 rgba(255,255,255,.2) inset;
}

#urlbar-go-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
	transform: scaleX(-1);
}

#urlbar-go-button:hover {
	background-image: linear-gradient(rgb(163,232,92), rgb(137,196,81));
}

#urlbar-reload-button {
	-moz-image-region: rect(0px, 14px, 14px, 0px);
}

#urlbar-reload-button:not([disabled]):hover {
	-moz-image-region: rect(0px, 28px, 14px, 14px);
	background-image: linear-gradient(rgb(137,183,233), rgb(79,130,195));
	box-shadow: 0 1px 0 rgba(0,0,0,.1) inset,
	-1px -1px 0 rgba(255,255,255,.2) inset;
}

#urlbar-stop-button {
	-moz-image-region: rect(0px, 42px, 14px, 28px);
	background-image: linear-gradient(rgb(226,99,99), rgb(199,68,68));
	box-shadow: 0 1px 0 rgba(0,0,0,.1) inset,
	-1px -1px 0 rgba(255,255,255,.2) inset;
}

#urlbar-stop-button:hover {
	background-image: linear-gradient(rgb(237,120,120), rgb(216,92,92));
}
/* ----- GO BUTTON ----- */

/*#go-button {
  list-style-image: url("chrome://browser/skin/Go-arrow.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);  
}

#go-button:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);  
}

#go-button:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);  
}*/

/* STAR BUTTON */
#star-button {
  	padding: 0 2px;
  	list-style-image: url("chrome://browser/skin/places/bookmark.png");
 	-moz-image-region: rect(0px 16px 16px 0px);
}

#star-button:hover {
  	-moz-image-region: rect(0px 32px 16px 16px);
}

#star-button:hover:active {
  	-moz-image-region: rect(0px 48px 16px 32px);
}

#star-button[starred="true"] {
  	list-style-image: url("chrome://browser/skin/places/editBookmark.png");
}

/* BOOKMARKING PANEL */



/* ----- FEED CONTENT DISPLAY ---- */

#feed-button,
#feed-button > .button-box,
#feed-button:hover:active > .button-box {
	padding: 0px;
	margin: 0px;
	border: 0px; 
	background: transparent none;
}

#feed-button {
  	min-width: 16px; 
  	margin-right: 1px !important;
  	list-style-image: url("chrome://browser/skin/page-livemarks.png");
}

#feed-button > .button-box > .button-menu-dropmarker {
	display: none;
}

/*-------Identity Box ---------*/


#identity-box {
	padding: 2px;
}

#urlbar[pageproxystate="valid"] > #identity-box.chromeUI,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity {
 	-moz-margin-end: 4px;
	background-position: right;
	background-size: 1px;
	background-repeat: no-repeat;
}

#urlbar[pageproxystate="valid"] > #identity-box.chromeUI:-moz-locale-dir(rtl),
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity:-moz-locale-dir(rtl) {
  background-position: left;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity {
	color: hsl(92,100%,30%);
	background-image: linear-gradient(hsla(92,81%,16%,0),
	    hsla(92,81%,16%,.2) 25%,
	    hsla(92,81%,16%,.2) 75%,
	    hsla(92,81%,16%,0));
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity:hover {
	color: hsl(92,100%,25%);
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity:hover:active,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity[open="true"] {
	color: hsl(92,100%,20%);
}

#urlbar[pageproxystate="valid"] > #identity-box.chromeUI {
  	color: rgb(229,115,0);
  	background-image: linear-gradient(rgba(229,114,0,0),
        rgba(229,114,0,.5) 35%,
        rgba(229,114,0,.5) 65%,
        rgba(229,114,0,0));
}



/* ----- Identity Indicator Styling ----- */

#page-proxy-favicon {
	width: 16px;
    height: 16px;
    margin: 1px 3px;
    list-style-image: url("chrome://browser/skin/identity/identity-icons-generic.png");
    -moz-image-region: rect(0, 16px, 16px, 0);
}

.chromeUI > #page-proxy-favicon[pageproxystate="valid"] {
  	list-style-image: url("chrome://branding/content/identity-icons-brand.png");
}

.verifiedDomain > #page-proxy-favicon[pageproxystate="valid"]  {
	list-style-image: url("chrome://browser/skin/identity/identity-icons-https.png");
}

.verifiedIdentity > #page-proxy-favicon[pageproxystate="valid"]  {
	list-style-image: url("chrome://browser/skin/identity/identity-icons-https-ev.png");
}

.mixedActiveContent > #page-proxy-favicon[pageproxystate="valid"] {
 	list-style-image: url("chrome://browser/skin/identity/identity-icons-https-mixed-active.png");
}

.mixedDisplayContent > #page-proxy-favicon[pageproxystate="valid"] {
  	list-style-image: url("chrome://browser/skin/identity/identity-icons-https-mixed-display.png");
}

.mixedDisplayContentLoadedActiveBlocked > #page-proxy-favicon[pageproxystate="valid"] {
  	list-style-image: url("chrome://browser/skin/identity/identity-icons-https-mixed-display.png");
}

#identity-box:hover > #page-proxy-favicon {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

#identity-box:hover:active > #page-proxy-favicon,
#identity-box[open=true] > #page-proxy-favicon {
	-moz-image-region: rect(0, 48px, 16px, 32px);
}

#page-proxy-favicon[pageproxystate="invalid"] {
	opacity: 0.5;
}

#urlbar-throbber {
	margin: 1px 0;
	width: 16px;
	height: 16px;
}

#urlbar-throbber {
	list-style-image: url("chrome://browser/skin/places/searching_16.png");
}

#identity-icon-label {
	margin: 0;
	-moz-padding-start: 4px;
}

#identity-icon-label[value=""] {
	display: none;
}


/* Notification icon box (corresponding notification popup in browser.css) */
#notification-popup-box {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	padding-left: 4px;
	border-radius: 2.5px 0 0 2.5px;
	border-width: 0 8px 0 0;
	border-style: solid;
	border-image: url("chrome://browser/skin/urlbar/urlbar-arrow.png") 0 8 0 0 fill;
	-moz-margin-end: -8px;
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
}

#notification-popup-box:not([hidden]) + #identity-box {
	-moz-padding-start: 5px;
}

#notification-popup-box:-moz-locale-dir(rtl),
.notification-anchor-icon:-moz-locale-dir(rtl) {
	transform: scaleX(-1);
}

.notification-anchor-icon {
	width: 16px;
	height: 16px;
}

.notification-anchor-icon:-moz-focusring {
	outline: 1px dotted -moz-DialogText;
}

#default-notification-icon {
	list-style-image: url("chrome://global/skin/icons/information-16.png");
}

#identity-notification-icon {
  list-style-image: url("chrome://mozapps/skin/profile/profileicon.png");
}

#geo-notification-icon {
	list-style-image: url("chrome://global/skin/icons/Geolocation-16.png");
}

#addons-notification-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
}

#indexedDB-notification-icon {
	list-style-image: url("chrome://global/skin/icons/question-16.png");
}

#password-notification-icon {
	list-style-image: url("chrome://mozapps/skin/passwordmgr/key-16.png");
}

#webapps-notification-icon {
  list-style-image: url("chrome://browser/skin/notifications/webapps-16.png");
}

#plugins-notification-icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
}

#blocked-plugins-notification-icon {
  list-style-image: url("chrome://mozapps/skin/plugins/notifyPluginBlocked.png");
}

#plugin-install-notification-icon {
  list-style-image: url("chrome://browser/skin/notifications/pluginInstall-16.png");
}

#notification-popup-box[hidden] {
  /* Override display:none to make the pluginBlockedNotification animation work
     when showing the notification repeatedly. */
  display: -moz-box;
  visibility: collapse;
}

#blocked-plugins-notification-icon[showing] {
  animation: pluginBlockedNotification 500ms ease 0s 5 alternate both;
}

@keyframes pluginBlockedNotification {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mixed-content-blocked-notification-icon,
#mixed-content-blocked-notification-icon {
  list-style-image: url("chrome://browser/skin/identity/mixed-content-blocked-16.png");
}

.webRTC-shareDevices-notification-icon,
#webRTC-shareDevices-notification-icon {
  list-style-image: url("chrome://browser/skin/webRTC-shareDevice-16.png");
}

.webRTC-sharingDevices-notification-icon,
#webRTC-sharingDevices-notification-icon {
  list-style-image: url("chrome://browser/skin/webRTC-sharingDevice-16.png");
}

.web-notifications-notification-icon,
#web-notifications-notification-icon {
  list-style-image: url("chrome://browser/skin/notification-16.png");
}

#pointerLock-notification-icon {
  list-style-image: url("chrome://browser/skin/pointerLock-16.png");
}
#pointerLock-cancel {
  margin: 0px;
}

/**********************************************************************************************************
***********************************************************************************************************/
