@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ----- PRIMARY TOOLBAR BUTTONS ----- */	

/*.toolbarbutton-1 {
	  list-style-image: url("chrome://browser/skin/toolbar.png") !important;
}*/

/* back button */

#back-button:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
		-moz-image-region: rect(0px 32px 32px 0px);
}
#back-button:not([disabled="true"]):hover:-moz-locale-dir(ltr),
#back-button[buttonover="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 32px 64px 0px);
}
#back-button[disabled="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 32px 96px 0px);
}

#back-button:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
		-moz-image-region: rect(0px 64px 32px 32px);
}
#back-button:-moz-locale-dir(rtl):not([disabled="true"]):hover,
#back-button[buttonover="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 64px 64px 32px);
}
#back-button[disabled="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 64px 96px 32px);
}

/* forward button */

#forward-button:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 64px 32px 32px);
}
#forward-button:not([disabled="true"]):hover:-moz-locale-dir(ltr),
#forward-button[buttonover="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 64px 64px 32px);
}
#forward-button[disabled="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 64px 96px 32px);
}
#forward-button:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
		-moz-image-region: rect(0px 32px 32px 0px);
}
#forward-button:not([disabled="true"]):hover:-moz-locale-dir(rtl),
#forward-button[buttonover="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 32px 64px 0px);
}
#forward-button[disabled="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 32px 96px 0px);
}

/* stop button */

#stop-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 96px 32px 64px) !important;
}
#stop-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 96px 64px 64px) !important;
}
#stop-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 96px 96px 64px) !important;
}

/* reload button */

#reload-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 128px 32px 96px) !important;
}
#reload-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 128px 64px 96px) !important;
}
#reload-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 128px 96px 96px) !important;
}

/* home button */

#home-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 160px 32px 128px) !important;
}
#home-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 160px 64px 128px) !important;
}
#home-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 160px 96px 128px) !important;
}

/* download manager button */

#downloads-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 192px 32px 160px) !important;
}
#downloads-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 192px 64px 160px) !important;
}
#downloads-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 192px 96px 160px) !important;
}

/* history sidebar button */

#history-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 224px 32px 192px) !important;
}
#history-button:not([disabled="true"]):not([checked="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 224px 64px 192px) !important;
}
#history-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 224px 96px 192px) !important;
}
#history-button[checked="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 224px 96px 192px) !important;
}

/* bookmark sidebar button */

#bookmarks-button,
#bookmarks-menu-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 256px 32px 224px) !important;
}
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover,
#bookmarks-menu-button:not([disabled="true"]):not([checked="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 256px 64px 224px) !important;
}
#bookmarks-button[disabled="true"],
#bookmarks-menu-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 256px 96px 224px) !important;
}
#bookmarks-button[checked="true"],
#bookmarks-menu-button[checked="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 256px 96px 224px) !important;
}

/* print button */

#print-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 288px 32px 256px) !important;
}
#print-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 288px 64px 256px) !important;
}
#print-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 288px 96px 256px) !important;
}

/* new tab button */

#new-tab-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 320px 32px 288px) !important;
}
#new-tab-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 320px 64px 288px) !important;
}
#new-tab-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 320px 96px 288px) !important;
}

/* new window button */

#new-window-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 352px 32px 320px) !important;
}
#new-window-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 352px 64px 320px) !important;
}
#new-window-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 352px 96px 320px) !important;
}

/* cut button */

#cut-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 384px 32px 352px) !important;
}
#cut-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 384px 64px 352px) !important;
}
#cut-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 384px 96px 352px) !important;
}

/* copy button */

#copy-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 416px 32px 384px) !important;
}
#copy-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 416px 64px 384px) !important;
}
#copy-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 416px 96px 384px) !important;
}

/* paste button */

#paste-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(0px 448px 32px 416px) !important;
}
#paste-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(32px 448px 64px 416px) !important;
}
#paste-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-big.png");
	  -moz-image-region: rect(64px 448px 96px 416px) !important;
}


/* SMALL ICONS TOOLBAR */

/* back button */

toolbar[iconsize="small"] #back-button:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
		-moz-image-region: rect(0px 24px 24px 0px);
}
toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover:-moz-locale-dir(ltr),
toolbar[iconsize="small"] #back-button[buttonover="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 24px 48px 0px);
}
toolbar[iconsize="small"] #back-button[disabled="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 24px 72px 0px);
}

toolbar[iconsize="small"] #back-button:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
		-moz-image-region: rect(0px 48px 24px 24px);
}
toolbar[iconsize="small"] #back-button:-moz-locale-dir(rtl):not([disabled="true"]):hover,
toolbar[iconsize="small"] #back-button[buttonover="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 48px 48px 24px);
}
toolbar[iconsize="small"] #back-button[disabled="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 48px 72px 24px);
}


/* forward button */

toolbar[iconsize="small"] #forward-button:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 48px 24px 24px);
}
toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover:-moz-locale-dir(ltr),
toolbar[iconsize="small"] #forward-button[buttonover="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 48px 48px 24px);
}
toolbar[iconsize="small"] #forward-button[disabled="true"]:-moz-locale-dir(ltr) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 48px 72px 24px);
}

toolbar[iconsize="small"] #forward-button:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
		-moz-image-region: rect(0px 24px 24px 0px);
}
toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover:-moz-locale-dir(rtl),
toolbar[iconsize="small"] #forward-button[buttonover="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 24px 48px 0px);
}
toolbar[iconsize="small"] #forward-button[disabled="true"]:-moz-locale-dir(rtl) {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 24px 72px 0px);
}

/* stop button */

toolbar[iconsize="small"] #stop-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 72px 24px 48px) !important;
}
toolbar[iconsize="small"] #stop-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 72px 48px 48px) !important;
}
toolbar[iconsize="small"] #stop-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 72px 72px 48px) !important;
}

/* reload button */

toolbar[iconsize="small"] #reload-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 96px 24px 72px) !important;
}
toolbar[iconsize="small"] #reload-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 96px 48px 72px) !important;
}
toolbar[iconsize="small"] #reload-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 96px 72px 72px) !important;
}

/* home button */

toolbar[iconsize="small"] #home-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 120px 24px 96px) !important;
}
toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 120px 48px 96px) !important;
}
toolbar[iconsize="small"] #home-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 120px 72px 96px) !important;
}

/* download manager button */

toolbar[iconsize="small"] #downloads-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 144px 24px 120px) !important;
}
toolbar[iconsize="small"] #downloads-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 144px 48px 120px) !important;
}
toolbar[iconsize="small"] #downloads-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 144px 72px 120px) !important;
}

/* history sidebar button */

toolbar[iconsize="small"] #history-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 168px 24px 144px) !important;
}
toolbar[iconsize="small"] #history-button:not([disabled="true"]):not([checked="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 168px 48px 144px) !important;
}
toolbar[iconsize="small"] #history-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 168px 72px 144px) !important;
}
toolbar[iconsize="small"] #history-button[checked="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 168px 72px 144px) !important;
}

/* bookmark sidebar button */

toolbar[iconsize="small"] #bookmarks-button,
toolbar[iconsize="small"] #bookmarks-menu-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 192px 24px 168px) !important;
}
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover,
toolbar[iconsize="small"] #bookmarks-menu-button:not([disabled="true"]):not([checked="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 192px 48px 168px) !important;
}
toolbar[iconsize="small"] #bookmarks-button[disabled="true"],
toolbar[iconsize="small"] #bookmarks-menu-button[disabled="true"]{
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 192px 72px 168px) !important;
}
toolbar[iconsize="small"] #bookmarks-button[checked="true"],
toolbar[iconsize="small"] #bookmarks-menu-button[checked="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 192px 72px 168px) !important;
}

/* print button */

toolbar[iconsize="small"] #print-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 216px 24px 192px) !important;
}
toolbar[iconsize="small"] #print-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 216px 48px 192px) !important;
}
toolbar[iconsize="small"] #print-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 216px 72px 192px) !important;
}

/* new tab button */

toolbar[iconsize="small"] #new-tab-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 240px 24px 216px) !important;
}
toolbar[iconsize="small"] #new-tab-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 240px 48px 216px) !important;
}
toolbar[iconsize="small"] #new-tab-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 240px 72px 216px) !important;
}

/* new window button */

toolbar[iconsize="small"] #new-window-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 264px 24px 240px) !important;
}
toolbar[iconsize="small"] #new-window-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 264px 48px 240px) !important;
}
toolbar[iconsize="small"] #new-window-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 264px 72px 240px) !important;
}

/* cut button */

toolbar[iconsize="small"] #cut-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 288px 24px 264px) !important;
}
toolbar[iconsize="small"] #cut-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 288px 48px 264px) !important;
}
toolbar[iconsize="small"] #cut-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 288px 72px 264px) !important;
}

/* copy button */

toolbar[iconsize="small"] #copy-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 312px 24px 288px) !important;
}
toolbar[iconsize="small"] #copy-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 312px 48px 288px) !important;
}
toolbar[iconsize="small"] #copy-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 312px 72px 288px) !important;
}

/* paste button */

toolbar[iconsize="small"] #paste-button {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(0px 336px 24px 312px) !important;
}
toolbar[iconsize="small"] #paste-button:not([disabled="true"]):hover {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(24px 336px 48px 312px) !important;
}
toolbar[iconsize="small"] #paste-button[disabled="true"] {
		list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
	  -moz-image-region: rect(48px 336px 72px 312px) !important;
}


/* fullscreen button */

#fullscreen-button {
	list-style-image: url("chrome://browser/skin/pinstripe_toolbar/view-fullscreen.png");
}

toolbar[iconsize="small"] #fullscreen-button {
	list-style-image: url("chrome://browser/skin/pinstripe_toolbar/view-fullscreen-small.png");
}

/* Sync button */

#sync-button {
	list-style-image: url("chrome://browser/skin/Sync/sync-32.png");
}

#sync-button[status="active"] {
	list-style-image: url("chrome://browser/skin/sync-24-throbber.png");
}

toolbar[iconsize="small"] #sync-button {
	list-style-image: url("chrome://browser/skin/Sync/sync-24.png");
}

toolbar[iconsize="small"] #sync-button[status="active"] {
	list-style-image: url("chrome://browser/skin/sync-16-throbber.png");
}

/* Zoom In - Zoom Out */

#zoom-out-button {
	list-style-image: url("moz-icon://stock/gtk-zoom-out?size=toolbar");
}

#zoom-in-button {
	list-style-image: url("moz-icon://stock/gtk-zoom-in?size=toolbar");
}

toolbar[iconsize="small"] #zoom-out-button {
	list-style-image: url("moz-icon://stock/gtk-zoom-out?size=menu");
}

toolbar[iconsize="small"] #zoom-in-button {
	list-style-image: url("moz-icon://stock/gtk-zoom-in?size=menu");
}


/* tabview button */

#tabview-button,
#menu_tabview {
	list-style-image: url("chrome://browser/skin/tabview/tabview.png");
	-moz-image-region: rect(0, 80px, 16px, 64px);
}

#tabview-button[groups="0"],
#menu_tabview[groups="0"] {
	-moz-image-region: rect(0, 16px, 16px, 0);
}

#tabview-button[groups="1"],
#menu_tabview[groups="1"] {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

#tabview-button[groups="2"],
#menu_tabview[groups="2"] {
	-moz-image-region: rect(0, 48px, 16px, 32px);
}

#tabview-button[groups="3"],
#menu_tabview[groups="3"] {
	-moz-image-region: rect(0, 64px, 16px, 48px);
}
