@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ----- BOOKMARK TOOLBAR ----- */

#PersonalToolbar {
  background: url("chrome://browser/skin/bookmarks/panel/bookmark_toolbar_background.gif") repeat-x;
  height: 23px;
  border-top: 0px solid rgba(255,255,255,0.25);
  border-bottom: 1px solid;
  -moz-border-bottom-colors: #d8d8d8 transparent;
  padding: 1px 0;
}



/* ::::: bookmark buttons ::::: */

.bookmark-item[container] {
  list-style-image: url("chrome://global/skin/tree/folder.png");
}

toolbarbutton.bookmark-item:hover {
	background:url("chrome://browser/skin/bookmarks/panel/bookmark-hover-left.png") no-repeat left center;
}

toolbarbutton.bookmark-item:hover:active, toolbarbutton.bookmark-item[open="true"] {
	background:url("chrome://browser/skin/bookmarks/panel/bookmark-open-left.png") no-repeat left center;
}

toolbarbutton.bookmark-item > label {
  margin-left: 7px;
}

toolbarbutton.bookmark-item:not([container]) > .toolbarbutton-text {
  padding-right: 7px;
}

toolbarbutton.bookmark-item:not([container]):hover > .toolbarbutton-text,
toolbarbutton.bookmark-item[container]:not([open]):hover > .toolbarbutton-menu-dropmarker,
#find-next:not([disabled]):hover > .toolbarbutton-text, 
#find-previous:not([disabled]):hover > .toolbarbutton-text,
#highlight:not([disabled]):hover > .toolbarbutton-text {
	background: url("chrome://browser/skin/bookmarks/panel/bookmark-hover-right.png") no-repeat right center;
  color: #fff;
}

#find-next:not([disabled]):hover, 
#find-previous:not([disabled]):hover,
#highlight:not([disabled]):hover {
	background:url("chrome://browser/skin/bookmarks/panel/bookmark-hover-left.png") no-repeat left center;
}

toolbarbutton.bookmark-item[container]:hover > .toolbarbutton-text,
#FindToolbar > toolbarbutton:not([disabled]):hover > .toolbarbutton-icon {
	background: url("chrome://browser/skin/bookmarks/panel/bookmark-hover-mid.png") repeat-x;
  color: #fff;
}

#find-closebutton > .toolbarbutton-icon  {
	background-image: none !important;
}

toolbarbutton.bookmark-item:not([container]):hover:active  > .toolbarbutton-text,
toolbarbutton.bookmark-item[open] > .toolbarbutton-menu-dropmarker,
toolbarbutton.bookmark-item[container]:hover:active > .toolbarbutton-menu-dropmarker {
	background: url("chrome://browser/skin/bookmarks/panel/bookmark-open-right.png") no-repeat right center;
}

toolbarbutton.bookmark-item[container]:hover:active  > .toolbarbutton-text,
toolbarbutton.bookmark-item[container][open="true"] > .toolbarbutton-text  {
	background: url("chrome://browser/skin/bookmarks/panel/bookmark-open-mid.png") repeat-x !important;
  color: #fff;
}

toolbarbutton.bookmark-item[type=menu] {
  padding-left: 7px;
}

toolbarbutton.bookmark-item[type=menu] > .toolbarbutton-menu-dropmarker {
  padding-right: 7px;
}

toolbarbutton.bookmark-item {
  margin: 1px;
  padding: 1px 0px 1px 7px;
  min-width: 0;
  max-width: 13em;
  font-weight: bold;
  color: #565656;
  border: none !important;
  font-size: 8pt;
}

.bookmark-item > .toolbarbutton-icon {
  margin: 0px;
  display: none;
}

toolbarbutton.bookmark-item .toolbarbutton-text {
  font-size: 100% !important; 
  margin: 0px !important;
}

/* Prevent [mode="icons"] from hiding the label */
.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
  height: 16px !important;
  padding-top: 1px;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
list-style-image: url("chrome://browser/skin/bookmarks/folderarrow.png");
height: 16px !important;
padding: 6px 5px 3px 3px;
}

.bookmark-item:hover > .toolbarbutton-menu-dropmarker, .bookmark-item[open] > .toolbarbutton-menu-dropmarker  {
list-style-image: url("chrome://browser/skin/bookmarks/folderarrow-hover.png");
}

.bookmark-item[livemark] > .toolbarbutton-menu-dropmarker {
list-style-image: url("chrome://browser/skin/bookmarks/livemark-folder.png");
padding: 4px 4px 3px 2px;
}

.bookmark-item[livemark]:hover > .toolbarbutton-menu-dropmarker, .bookmark-item[livemark][open] > .toolbarbutton-menu-dropmarker {
list-style-image: url("chrome://browser/skin/bookmarks/livemark-folder-hover.png");
}

.bookmark-item[livemark] .menuitem-iconic {
	list-style-image: url("chrome://browser/skin/bookmarks/livemark-item.png");
}

.toolbarpaletteitem-box[type="bookmarks-toolbar"][place="palette"] {
  background: url("chrome://browser/skin/bookmarks/Toolbar-bookmarks.png") no-repeat;
}

.bookmarks-toolbar-customize {
  display: none;
  max-width: 15em !important;
}

toolbarpaletteitem[place="toolbar"] .bookmarks-toolbar-customize {
  display: -moz-box;
}

toolbarpaletteitem[place="toolbar"] .bookmarks-toolbar-overflow-items {
  visibility: hidden;
}

toolbarpaletteitem[place="toolbar"] .bookmarks-toolbar-items {
  visibility: hidden;
}

/* ::::: bookmark menus ::::: */

menu.bookmark-item,
menuitem.bookmark-item {
  min-width: 0;
  max-width: 26em;
  font-weight: normal;
}

.bookmark-item > .menu-iconic-left {
  margin-top: 0;
  margin-bottom: 0;
}

.bookmark-item > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
  -moz-padding-start: 0px;
}

/* ..... fix bookmarks padding issue ..... */

#menu_BookmarksPopup menuitem { 
	-moz-padding-start: 4px;
}

#menu_BookmarksPopup menuitem.menuitem-iconic { 
	-moz-padding-start: 0px; 
}


/* ..... drag and drop styles ..... */

.bookmark-item[dragover-left="true"] {
  -moz-border-left-colors: #000000;
}
.bookmark-item[dragover-right="true"] {
  -moz-border-right-colors: #000000;
}
.bookmark-item[dragover-top="true"] {
  -moz-border-top-colors: #000000;
}
.bookmark-item[dragover-bottom="true"] {
  -moz-border-bottom-colors: #000000;
}

/* ::::: bookmark items ::::: */

.bookmark-item  {
   list-style-image: url("chrome://browser/skin/bookmarks/bookmark-item.png") !important;
}

.bookmark-item[container="true"] {
   list-style-image: url("chrome://browser/skin/bookmarks/bookmark-folder.png") !important;
}
.bookmark-item[open="true"],
.bookmark-item[container="true"][open="true"] {
     list-style-image: url("chrome://browser/skin/bookmarks/bookmark-folder-open.png") !important;
}

/* Personal toolbar */
.toolbar-drop-indicator {
  width: 7px;
  height: 14px;
  position: relative;
  background: url('chrome://browser/skin/places/toolbarDropMarker.png') 40% 50% no-repeat;
}

.toolbar-drop-indicator-bar {
  visibility: hidden;
  height: 14px;
  margin-bottom: -17px;
  position: relative;
}

.toolbar-drop-indicator-bar[dragging="true"] {
  visibility: visible;
}

/* Bookmark drag and drop styles */

.bookmark-item[dragover-into="true"] {
  background: Highlight !important;
  color: HighlightText !important;
}

/* rules for menupopup drop indicators */
.menupopup-drop-indicator-bar {
  position: relative;
  /* these two margins must together compensate the indicator's height */
  margin-top: -1px;
  margin-bottom: -1px;
}

.menupopup-drop-indicator {
  list-style-image: none;
  height: 2px;
  -moz-margin-end: -4em;
  background-color: Highlight;
}

#CustomizeToolbarSheet > #main-box {
  border-top: none !important;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 3px solid;
  -moz-border-right-colors: -moz-mac-menushadow ThreeDLightShadow  !important;
  -moz-border-bottom-colors: -moz-mac-menushadow -moz-mac-menushadow ThreeDShadow  !important;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight !important;
} 
