@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


#editBookmarkPanel {
	/*-moz-appearance: menupopup;*/
	padding: 8px 7px 10px;
}

#editBookmarkPanelStarIcon {
	list-style-image: url("chrome://browser/skin/places/starred48.png");
	width: 48px;
	height: 48px;
}

#editBookmarkPanelStarIcon[unstarred] {
	list-style-image: url("chrome://browser/skin/places/unstarred48.png");
}

#editBookmarkPanelTitle {
	font-size: 130%;
}

#editBookmarkPanelHeader,
#editBookmarkPanelContent {
	margin-bottom: 5px;
}

/* Implements editBookmarkPanel resizing on folderTree un-collapse. */
#editBMPanel_folderTree {
	min-width: 27em;
}

/* ********** END moved section ********** */

#editBookmarkPanelContent {
	min-width: 23em;
}

#editBMPanel_folderTree {
	margin-top: 2px;
	margin-bottom: 2px;
}

/* ------- name picker ------- */

/* Make the microsummary picker look like a regular textbox instead of 
 * an editable menulist when no microsummaries are available. */
#editBMPanel_namePicker[droppable="false"] {

	margin: 2px 4px;
	-moz-padding-start: 4px;
	-moz-padding-end: 4px;
	box-shadow:
		inset 0 1px 1px rgba(0, 0, 0, 0.68),
		inset 2px 0 rgba(0, 0, 0, 0.08),
		inset -2px 0 rgba(0, 0, 0, 0.08),
		inset 0 -1px rgba(0, 0, 0, 0.15);
	background: #fff none;
	color: #000;
	height: 21px;
	cursor: text;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-editable-box {
	padding: 0;
	background-image: none;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-dropmarker,
#editBMPanel_namePicker[droppable="false"] > menupopup {
	display: none;
}

/* ------- folder menulist ------- */

.folder-icon > .menulist-label-box > .menulist-icon {
	width: 16px;
	height: 16px;
}

.folder-icon > .menu-iconic-left {
	display: -moz-box;
}

.folder-icon {
	list-style-image: url("chrome://browser/skin/places/bookmark-item.png") !important;
	-moz-image-region: rect(16px, 16px, 32px, 0) !important;
}

/* ---- bookmark panel dropdown icons ---- */

#editBMPanel_folderMenuList[selectedIndex="0"],
#editBMPanel_toolbarFolderItem {
	list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
	-moz-image-region: auto !important;
}

#editBMPanel_folderMenuList[selectedIndex="1"],
#editBMPanel_bmRootItem {
	list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;
	-moz-image-region: auto !important;
}

#editBMPanel_folderMenuList[selectedIndex="2"],
#editBMPanel_unfiledRootItem {
	list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png") !important;
	-moz-image-region: auto !important;
}

/* ------- tags field ------- */

/* Hide the value column of the tag autocomplete popup leaving only the comment column visible.
 * This is so that only the tag being edited is shown in the popup.
 */
#editBMPanel_tagsField #treecolAutoCompleteValue {
	visibility: collapse;
}

/* ------- expanders ------- */

.expander-up,
.expander-down {
	-moz-margin-start: 0;
	padding: 0;
	width: 23px;
	min-width: 0;
}

.expander-up > hbox,
.expander-down > hbox {
	background: none;
}

.expander-up {
	background: url("chrome://browser/skin/places/expander-up.png");
}

.expander-up:hover,
.expander-up:hover:active {
	background: url("chrome://browser/skin/places/expander-up-active.png");
}

.expander-down {
	background: url("chrome://browser/skin/places/expander-down.png");
}

.expander-down:hover,
.expander-down:hover:active {
	background: url("chrome://browser/skin/places/expander-down-active.png");
}

/* ------- Popup Panel from URL-bar ------- */


popupset > #editBookmarkPanel #editBMPanel_namePicker[droppable="false"],
popupset > #editBookmarkPanel textbox {
	-moz-padding-start: 2px;
	-moz-padding-end: 2px;
	border-top: 2px solid;
	-moz-border-top-colors: #7d7d7d #d4d4d4;
	border-right: 2px solid;
	-moz-border-right-colors: #c3c3c3 #ebebeb;
	border-left: 2px solid;
	-moz-border-left-colors: #c3c3c3 #ebebeb;
	border-bottom: 1px solid #d9d9d9;
	box-shadow: none;
}


popupset > #editBookmarkPanel textbox.tree-input {
	padding: 0;
	min-height: 18px; 
}