@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* :::::::::: Identity Popup Panel :::::::::: */

/* ..... Popup Bounding Box ..... */

#identity-popup {
	color: #000;
}


#identity-popup-container {
	background-image: none;
	min-width: 280px;
	padding: 8px;
}

/* ..... Popup Icons ..... */

#identity-popup-icon {
	padding: 0;
	list-style-image: url("chrome://browser/skin/identity/identity.png");
	-moz-image-region: rect(0px, 64px, 64px, 0px);
	width: 64px;
	height: 64px;
}

#identity-popup.verifiedDomain > #identity-popup-container > #identity-popup-icon {
	-moz-image-region: rect(64px, 64px, 128px, 0px);
}

#identity-popup.verifiedIdentity > #identity-popup-container > #identity-popup-icon {
	-moz-image-region: rect(128px, 64px, 192px, 0px);
}

/* ..... Popup Body Text ..... */

#identity-popup-content-box > description,
#identity-popup-encryption-label {
	margin: 2px 0 4px;
	-moz-padding-start: 15px;
	white-space: pre-wrap;
}

#identity-popup-content-box > label {
	margin: 0;
	-moz-padding-start: 15px;
	white-space: pre-wrap;
}

#identity-popup-content-host ,
#identity-popup-content-box.verifiedIdentity > #identity-popup-content-owner {
	font-size: 1.2em;
}

#identity-popup-content-host {
	margin-top: 3px;
	margin-bottom: 5px;
	font-weight: bold;
	max-width: 300px;
}

#identity-popup-content-owner {
	margin-top: 4px;
	margin-bottom: 0 !important;
	font-weight: bold;
	max-width: 300px;
}

.verifiedDomain > #identity-popup-content-owner {
	font-weight: normal;
}

#identity-popup-content-verifier {
	margin: 4px 0 2px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption {
	margin-top: 10px;
	margin-left: -24px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption > vbox > #identity-popup-encryption-icon ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption > vbox > #identity-popup-encryption-icon {
	list-style-image: url("chrome://browser/skin/Secure24.png");
}

/* ..... More Info Button ..... */

#identity-popup-more-info-button {
	margin-top: 6px;
	margin-bottom: 0;
	-moz-margin-end: 0;
}
