/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998-2004
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Kevin Gerich  <webmail@kmgerich.com>
 *   Daniel Brooks <db48x@yahoo.com>
 *   Florian QUEZE <f.qu@queze.net>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

@import "chrome://global/skin/";


#topBar {
	margin: 0;
	-moz-padding-start: 10px;
	border-bottom: 1px solid #a3a3a3;
	background: #fff url("chrome://global/skin/toolbar/bkg.png") repeat;
	color: #000;
}


#viewGroup radio {
	-moz-appearance: none;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	padding: 5px 3px 1px;
	list-style-image: url("chrome://browser/skin/pageInfo.png");
}

#viewGroup radio[selected="true"] {
	border-radius: 5px;
	background: url("chrome://browser/skin/radio-selected-bg.png") repeat-x;
}

#generalTab {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#generalTab:hover {
	-moz-image-region: rect(32px, 32px, 64px, 0px);
}

#mediaTab {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

#mediaTab:hover {
	-moz-image-region: rect(32px, 64px, 64px, 32px);
}

#feedTab {
	-moz-image-region: rect(0px, 96px, 32px, 64px);
}

#feedTab:hover {
	-moz-image-region: rect(32px, 96px, 64px, 64px);
}

#permTab {
	-moz-image-region: rect(0px, 128px, 32px, 96px);
}

#permTab:hover {
	-moz-image-region: rect(32px, 128px, 64px, 96px);
}

#securityTab {
	-moz-image-region: rect(0px, 160px, 32px, 128px);
}

#securityTab:hover {
	-moz-image-region: rect(32px, 160px, 64px, 128px);
}



/* :::::::::: Misc :::::::::: */

deck {
	padding: 10px 10px 12px;
}

tree {
	margin: 0 0 .5em;
}

.gridSeparator {
	width: .5em;
}

textbox {
	-moz-appearance: none;
	margin-top: 1px;
	padding: 0;
	border: none;
	box-shadow: none;
	background: transparent !important;
	min-height: 0;
}

textbox.header {
	-moz-margin-start: 0;
}

.fixedsize {
	height: 8.5em;
}

textbox[disabled] {
	font-style: italic;
}


/* General Tab */
groupbox.collapsable caption .caption-icon {
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
  -moz-margin-end: 2px;
  background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

groupbox.collapsable[closed="true"] caption .caption-icon {
  background-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}

groupbox tree { 
  margin: 0;
  border: none;
}

groupbox.treebox .groupbox-body { 
  padding: 0;
}

#securityBox description { 
  -moz-margin-start: 10px;
}

#general-security-identity {
  white-space: pre-wrap;
  line-height: 2em;
}

/* Media Tab */
#imagetree {
  min-height: 10em;
}

#mediaGrid {
  min-height: 9em;
}

#mediaLabelColumn {
  min-width: 10em;
}

#thepreviewimage {
  margin: 1em;
}

treechildren::-moz-tree-cell-text(broken) {
  font-style: italic;
  color: graytext;
}

/* Feeds Tab */
#feedtree {
  margin-bottom: 0px;
}

#feedListbox richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

#feedListbox richlistitem[selected="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

#feedListbox {
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.feedTitle { 
  font-weight: bold;
}

/* Permissions Tab */
#permList {
  margin-top: .5em;
  overflow: auto;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-field;
}

#permList > vbox {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

#permList > vbox > label {
  font-weight: bold;
}

#permList > vbox:hover {
  background-color: -moz-dialog;
}

/* Security Tab */
#securityPanel .caption-icon {
  display: none;
}

#securityPanel .header {
  font-size: 120%;
}
 
#securityPanel .fieldLabel {
  margin: 2px 10px 3px 10px;
}

#securityPanel .fieldValue {
  font-weight: bold;
  margin: 2px 10px 0px 10px;
}
