/* :::::::::: searchbar-textbox :::::::::: */

.searchbar-textbox {
	border-radius: 45px 45px 45px 45px / 35px 35px 35px 35px;
	width: 6em;
	min-width: 6em;
	min-height: 23px;
}


.searchbar-textbox > .autocomplete-textbox-container {
	-moz-box-align: stretch;
}


.searchbar-textbox .textbox-input-box {
	margin: 0;
	padding-top: 3px;
	padding-bottom: 2px;
}

/* ..... focused state ..... */

.searchbar-textbox[focused="true"] {
	box-shadow:
		0 0 3px 2px #97bee0,
		inset 0 0 2px #97bee0,

		inset 0 1px 1px rgba(0, 0, 0, 0.68),
		inset 2px 0 rgba(0, 0, 0, 0.08),
		inset -2px 0 rgba(0, 0, 0, 0.08),
		inset 0 -1px rgba(0, 0, 0, 0.15);
}

/* :::::::::: searchbar-engine-button :::::::::: */

.searchbar-engine-button {
	-moz-box-align: center;
	margin: 0;
	padding: 0;				   
	background: none;
	min-width: 0;
	height: 16px;
}

.searchbar-engine-button > .button-box {
	padding: 0;
	background: none;
}

.searchbar-engine-image {
	-moz-margin-start: 7px;
	list-style-image: url("chrome://browser/skin/places/bookmark-item.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
	width: 16px;
	height: 16px;
}

.searchbar-dropmarker-image {
	-moz-margin-start: 2px;
	list-style-image: url("chrome://global/skin/arrow/search-arrow.png");
	width: 15px;
	height: 15px;
}

.searchbar-engine-button[addengines="true"] .searchbar-dropmarker-image {
	list-style-image: url("chrome://global/skin/arrow/search-arrow.png");
}

/* :::::::::: search-go-button :::::::::: */

.search-go-container {
	-moz-box-align: center;
}

.search-go-button {
	padding: 0px;
	padding-right: 3px;
	list-style-image: url("chrome://browser/skin/searchbar/Search.png");
	-moz-padding-end: 6px;
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
	font-weight: bold;
}

/* :::::::::: autocomplete popup :::::::::: */

.autocomplete-result-popupset treechildren::-moz-tree-row(even) {
	 background-color: transparent;
}
