wizard {
  -moz-appearance: none;
  width: 55em;
  height: 42em;
  padding: 0;
  background-color: Window;
}

.wizard-page-box {
  -moz-appearance: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

wizardpage {
  -moz-box-pack: center;
  -moz-box-align: center;
  margin: 0;
  padding: 0 8em;
  background-color: Window;
}

.wizard-header {
  -moz-appearance: none;
  border: none;
  padding: 2em 0 1em 0;
  text-align: center;
}
.wizard-header-label {
  font-size: 24pt;
  font-weight: normal;
}

.wizard-buttons {
  border-top: 2px solid #ccd9ea;
  background-color: #f1f5fb;
  padding: 1em;
}

.wizard-buttons-separator {
  visibility: collapse;
}

.wizard-header-icon {
  visibility: collapse;
}

.accountChoiceButton {
  font: menu;
}

.confirm {
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;
}

/* Override the text-link style from global.css */
description > .text-link,
description > .text-link:focus {
  margin: 0px;
  padding: 0px;
  border: 0px;
}


.success,
.error {
  padding: 2px;
  border-radius: 2px;
}

.error {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

.success {
  background-color: #00FF00 !important;
}

.warning {
  font-weight: bold;
  font-size: 100%;
  color: red;
}

.mainDesc {
  font-weight: bold;
  font-size: 100%;
}

.normal {
  font-size: 100%;
}

.inputColumn {
  -moz-margin-end: 2px
}

.pin {
  font-size: 18pt;
  width: 4em;
  text-align: center; 
}

#passphraseHelpSpacer {
  width: 0.5em;
}

#add-device-throbber > image,
#login-throbber > image {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

#successPageIcon {
  /* TODO replace this with a 128px version (bug 591122) */
  list-style-image: url("chrome://browser/skin/Sync/sync-32.png");
}
