/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is the Extension Manager UI.
 *
 * The Initial Developer of the Original Code is
 * the Mozilla Foundation.
 * Portions created by the Initial Developer are Copyright (C) 2010
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *   Blair McBride <bmcbride@mozilla.com>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

.details > .button-box,
#detail-contrib-btn .button-box {
	background: none !important;
}

#addons-page {
  -moz-appearance: none!important;
  padding: 18px!important;
  background: url("chrome://browser/skin/back-pinstripe-overlay.png") repeat;
}

#view-port-container {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  /* Disabled because of bug 623615
  overflow: hidden;
  */
  background-color: rgba(255, 255, 255, 0.35);
  background-image: linear-gradient(to bottom,
                                         rgba(255, 255, 255, 0),
                                         rgba(255, 255, 255, 0.75));
  border: 1px solid #C6C9CE;
  border-radius: 5px;
}

.nav-button,
#header-utils-btn {
  list-style-image: url("chrome://browser/skin/pinstripe_toolbar/toolbar-small.png");
  min-width: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
   padding: 2px 4px;
  -moz-appearance: none !important;
  background: transparent !important;
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: black;
}

#back-btn[disabled="true"],
#forward-btn[disabled="true"] {
  -moz-appearance: none !important;
  background: transparent !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.nav-button[disabled="true"] .button-icon {
  opacity: 0.3;
}

#back-btn:-moz-locale-dir(ltr),
#forward-btn:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0, 24px, 24px, 0);
}

#back-btn:-moz-locale-dir(rtl),
#forward-btn:-moz-locale-dir(ltr) {
  -moz-image-region: rect(0, 48px, 24px, 24px);
}

.nav-button:hover:not([disabled="true"]),
#header-utils-btn:hover {
  background: transparent
              linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.3) 49%,
                                   rgba(255,255,255,.25), rgba(255,255,255,.05)) !important;
  border-color: rgba(0,0,0,.2) !important;
  box-shadow: 0 1px 0 0 rgba(255,255,255,.8) inset,
              0 1px 0 0 rgba(255,255,255,.4) !important;
  transition: background-color .02s,
                   border-color .04s ease-in,
                   box-shadow .04s ease-in;
}

.nav-button:hover:active:not([disabled="true"]),
#header-utils-btn:hover:active,
#header-utils-btn[open="true"] {
  background: transparent
              linear-gradient(rgba(191,191,191,.3), rgba(170,170,170,.3) 49%,
                                   rgba(168,168,168,.3), rgba(150,150,150,.3)) !important;
  border-color: rgba(0,0,0,.3) !important;
  box-shadow: 0 1px 1px 0 rgba(136,136,136,.4) inset !important;
  transition: background-color .02s,
                   border-color .04s ease-in,
                   box-shadow .04s ease-in;
}


/*** global warnings ***/

.global-warning-container {
  overflow-x: hidden;
}

.global-warning {
  -moz-box-align: center;
  padding: 0 8px;
  color: #916D15;
  font-weight: bold;
}

#addons-page[warning] .global-warning-container {
  background-color: rgba(255, 255, 0, 0.1);
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png");
  background-repeat: repeat-x;
}

#detail-view .global-warning {
  padding: 4px 12px;
  border-bottom: 1px solid #CAD4E0;
}

@media all and (max-width: 600px) {
  .global-warning-text {
    display: none;
  }

  .global-warning .warning-icon {
    background-color: #FFF;
    box-shadow: 0px 0px 2px 5px #FFF;
    border-radius: 10px;
  }
}

/* Plugins aren't yet disabled by safemode (bug 342333),
   so don't show that warning when viewing plugins. */
#addons-page[warning="safemode"] .view-pane[type="plugin"] .global-warning-container,
#addons-page[warning="safemode"] #detail-view[loading="true"] .global-warning-container {
  background-color: inherit;
  background-image: none;
}


/*** notification icons ***/

.warning-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-warning.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.error-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-error.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.pending-icon,
.info-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-positive.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.addon-view[pending="disable"] .pending-icon,
.addon-view[pending="uninstall"] .pending-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.png");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}


/*** view alert boxes ***/

.alert-container {
  -moz-box-align: center;
}

.alert-spacer-before {
  -moz-box-flex: 1;
}

.alert-spacer-after {
  -moz-box-flex: 3;
}

.alert {
  -moz-box-align: center;
  padding: 10px;
  color: #373D48;
  border: 1px solid #A8B8D1;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #FFF, #ECF1F7);
  background-clip: padding-box;
  box-shadow: 2px 2px 4px #999;
}

.alert .alert-title {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}

.alert .addon-control {
  margin: 1em 2em;
}

.loading {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
  padding-left: 20px;
  padding-right: 20px;
}


/*** category selector ***/

#categories {
  -moz-appearance: none;
  border: none;
 /* -moz-margin-end: -1px;*/
  background-color: transparent;
  position: relative;
  margin-top: 31px;
}

.category {
  -moz-appearance: none;
  background-color: transparent;
  color: #252F3B;
  min-height: 0;
  padding: 10px 4px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  -moz-box-align: center;
  overflow: hidden;
}

.category {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.category[disabled] {
  border-top: 0;
  border-bottom: 0;
  height: 0;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 1s, 0.8s;
}

.category:not([disabled]) {
  height: 52px;
  transition-property: height, opacity;
  transition-duration: 1s, 0.8s;
}

.category[selected] {
/*   background-color: rgba(255, 255, 255, 0.4); */
	background: url("chrome://browser/skin/radio-selected-bg.png") repeat-x;
  color: #252F3B;
  border-color: #C6C9CE;/*
  -moz-border-end-color: #E7E7E7;*/
}

.category-name {
  font-size: 150%;
}

/* Maximize the size of the viewport when the window is small */
@media all and (max-width: 800px) {
  .category-name {
    display: none;
  }
}

.category-badge {
  background-color: #55D4FF;
  padding: 2px 8px;
  margin: 6px 0;
  border-radius: 10000px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.category-badge[value="0"] {
  visibility: hidden;
}

.category-icon {
  width: 32px;
  height: 32px;
  -moz-margin-start: 6px;
}

#category-search > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/category-search.png");
}
#category-discover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 0px 224px 32px 192px );
}
#category-language > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 0px 96px 32px 64px );
}
#category-searchengine > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/category-searchengines.png");
}
#category-extension > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 0px 32px 32px 0px );
}
#category-theme > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 0px 64px 32px 32px );
}
#category-plugin > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 0px 128px 32px 96px );
}
#category-availableUpdates > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 0px 160px 32px 128px );
}
#category-recentUpdates > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
  -moz-image-region: rect( 0px 192px 32px 160px );
}

#category-discover:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 224px 64px 192px );
}
#category-language:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 96px 64px 64px );
}
#category-extension:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 32px 64px 0px );
}
#category-theme:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 64px 64px 32px );
}
#category-plugin:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 128px 64px 96px );
}
#category-availableUpdates:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 160px 64px 128px );
}
#category-recentUpdates:hover > .category-icon {
	list-style-image: url("chrome://mozapps/skin/extensions/viewButtons.png");
	-moz-image-region: rect( 32px 192px 64px 160px );
}

/*** header ***/

#header {
  margin-bottom: 18px;
}

/*#header-search {
  -moz-appearance: none;
  color: black;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.37);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset,
              0 1px 0 rgba(255, 255, 255, 0.4);
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
}*/

/*#header-search .textbox-input:-moz-placeholder {
  color: grey;
}*/

#header-search[focused="true"] {
  background-color: white;
}

#header-utils-btn {
  padding: 4px;
  min-width: 4em;
  list-style-image: url("chrome://mozapps/skin/extensions/preferences.png");
  -moz-margin-end: 18px;
}

#header-utils-btn > .toolbarbutton-icon {
  margin: -3px 0;
}

.view-header {
  background-color: rgba(251, 252, 253, 0.25);
  padding: 4px;
  margin: 0;
  min-height: 31px;
  border-bottom: 1px solid #CAD4E0;
}


/*** sorters ***/

.sort-controls {
  -moz-appearance: none;
}

.sorter[checkState="1"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.sorter[checkState="2"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

.sorter .button-icon {
  -moz-margin-start: 4px;
}


/*** discover view ***/

.discover-spacer-before,
.discover-spacer-after {
  -moz-box-flex: 1;
}

#discover-error .alert {
  max-width: 45em;
  -moz-box-flex: 1;
}

.discover-logo {
  list-style-image: url("chrome://mozapps/skin/extensions/discover-logo.png");
  -moz-margin-end: 15px;
}

.discover-title {
  font-weight: bold;
  font-size: 24px;
  font-family: MetaWebPro-Book, "Trebuchet MS", sans-serif;
  margin: 0 0 15px 0;
}

.discover-description {
  text-align: justify;
  margin: 0 0 15px 0;
}

.discover-footer {
  text-align: justify;
}


/*** list ***/

.list {
  -moz-appearance: none;
  margin: 0;
  border: none;
  background-color: transparent;
}

.addon {
  color: black;
  border-top: 2px solid;
  -moz-border-top-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid;
  -moz-border-bottom-colors: rgba(255, 255, 255, 0.1);
  padding: 5px;
  background-origin: border-box;
}

.view-pane:not(#search-view) .addon:first-of-type,
#search-view .addon[first] {
  border-top-width: 1px;
  -moz-border-top-colors: rgba(255, 255, 255, 0.1);
}

.view-pane:not(#search-view) .addon:last-of-type,
#search-view .addon[last] {
  border-bottom-width: 2px;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1);
}

.details {
  -moz-appearance: none;
  cursor: pointer;
  padding: 3px 0 0 0;
  margin: 0;
  background: none !important;
  box-shadow: none;
  min-width: 13px;
  -moz-margin-start: 6px;
  list-style-image: url("chrome://mozapps/skin/extensions/detail-btn.png");
  -moz-image-region: rect(0px, 13px, 13px, 0px);
}

.details:hover {
  -moz-image-region: rect(0px, 26px, 13px, 13px);
}

.details:active {
  -moz-image-region: rect(0px, 39px, 13px, 26px);
}

.details:-moz-focusring > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

.details .button-text {
  display: none;
}

.icon-container {
  width: 48px;
  height: 48px;
  margin: 3px 7px;
  -moz-box-align: center;
  -moz-box-pack: center;
}

.icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
  max-width: 48px;
  max-height: 48px;
}

.addon[active="false"] .icon {
  filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}


.addon-view[type="theme"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

.addon-view[type="locale"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

.addon-view[type="plugin"] .icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

.name-container {
  font-size: 150%;
  font-weight: bold;
  color: #3F3F3F;
  margin-bottom: 0;
  -moz-box-align: end;
}

.creator {
  font-weight: bold;
}

.creator .text-link {
  color: #0066CC;
}

.description-container {
  margin-top: 8px;
  -moz-margin-start: 6px;
  -moz-box-align: center;
}

.description {
  margin: 0;
}

.warning,
.pending,
.error {
  -moz-margin-start: 48px;
  font-weight: bold;
  -moz-box-align: center;
}

.content-container,
.basicinfo-container {
  -moz-box-align: start;
}

.addon[status="installing"] > .content-container {
  -moz-box-align: stretch;
}

.update-info-container {
  -moz-box-align: center;
}

.advancedinfo-container,
.update-available {
  -moz-box-align: end;
}

.install-status-container {
  -moz-box-pack: end;
  -moz-box-align: end;
}

.name-outer-container {
  -moz-box-pack: center;
}

.relnotes-toggle-container,
.icon-outer-container {
  -moz-box-pack: start;
}

.status-container,
.control-container {
  -moz-box-pack: end;
}

.addon-view .warning {
  color: #916D15;
}

.addon-view .error {
  color: #864441;
}

.addon-view .pending {
  color: #1B7123;
}

.addon-view[pending="disable"] .pending,
.addon-view[pending="uninstall"] .pending {
  color: #62666E;
}

.addon .relnotes-container {
  -moz-box-align: start;
  -moz-margin-start: 6px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon[show-relnotes] .relnotes-container {
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon .relnotes-header {
  font-weight: bold;
  margin: 10px 0;
}

.addon .relnotes-toggle {
  -moz-appearance: none;
  border: none;
  background: transparent;
  font-weight: bold;
  -moz-box-direction: reverse;
  cursor: pointer;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.addon .relnotes-toggle > .button-box > .button-icon {
  -moz-padding-start: 4px;
}

.addon[show-relnotes] .relnotes-toggle {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

.addon[active="false"] {
  background-color: rgba(135, 135, 135, 0.1);
  background-image: linear-gradient(rgba(135, 135, 135, 0),
                                         rgba(135, 135, 135, 0.1));
}

.addon-view[active="false"],
.addon-view[active="false"] .name-container {
  color: #888A8B;
}

.addon-view[notification="warning"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png"),
                    linear-gradient(rgba(255, 255, 0, 0.04),
                                         rgba(255, 255, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[notification="error"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-error.png"),
                    linear-gradient(rgba(255, 0, 0, 0.04),
                                         rgba(255, 0, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[pending="enable"],
.addon-view[pending="upgrade"],
.addon-view[pending="install"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-positive.png"),
                    linear-gradient(rgba(0, 255, 0, 0.04),
                                         rgba(0, 255, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[pending="disable"],
.addon-view[pending="uninstall"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png"),
                    linear-gradient(rgba(128, 128, 128, 0.04),
                                         rgba(128, 128, 128, 0));
  background-repeat: repeat-x;
}

.addon[selected] {
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
}

.addon[active="false"][selected] .name-container {
  color: #3F3F3F;
}

.addon[mousedown] {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.20);
  border-top-width: 1px;
  border-bottom-width: 0px;
  padding-top: 5px;
  padding-bottom: 6px;
}

.view-pane:not(#search-view) .addon[mousedown]:first-of-type,
#search-view .addon[first][mousedown] {
  border-top-width: 0px;
}

.view-pane:not(#search-view) .addon[mousedown]:last-of-type,
#search-view .addon[last][mousedown] {
  border-bottom-width: 1px;
}


/*** item - uninstalled ***/

.addon[status="uninstalled"] {
  border: none;
}

.addon[status="uninstalled"] > .container {
  -moz-box-align: center;
  padding: 4px 20px;
  background-color: #FDFFA8;
  border-radius: 8px;
  font-size: 120%;
}

.addon[status="uninstalled"][selected] {
  background-color: transparent;
}



/*** search view ***/

#search-filter {
  padding: 5px 20px;
  font-size: 120%;
  border-bottom: 1px solid #CAD4E0;
  overflow-x: hidden;
}

#search-filter-label {
  font-weight: bold;
  color: grey;
}

.search-filter-radio {
  -moz-appearance: none;
  padding: 0 6px;
  margin: 0 3px;
  border-radius: 10000px;
}

.search-filter-radio[selected] {
  background-color: grey;
  color: white;
}

.search-filter-radio .radio-check-box1 {
  display: none;
}

.search-filter-radio .radio-icon {
  display: none;
}

#search-allresults-link {
  margin-top: 1em;
  margin-bottom: 2em;
}

/*** detail view ***/

#detail-view .loading {
  opacity: 0;
}

#detail-view[loading-extended] .loading {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}

.detail-view-container {
  padding: 0 2em 2em 2em;
  font-size: 110%;
}

#detail-notifications {
  margin-top: 1em;
  margin-bottom: 2em;
}

#detail-notifications .warning,
#detail-notifications .pending,
#detail-notifications .error {
  -moz-margin-start: 0;
}

#detail-icon {
  -moz-margin-end: 10px;
  margin-top: 6px;
  max-width: 64px;
  max-height: 64px;
}

#detail-summary {
  margin-bottom: 2em;
}

#detail-name-container {
  font-size: 200%;
}

#detail-screenshot {
  -moz-margin-end: 2em;
  max-width: 300px;
  max-height: 300px;
}

#detail-desc-container {
  margin-bottom: 2em;
}

#detail-desc, #detail-fulldesc {
  -moz-margin-start: 6px;
  /* This is necessary to fix layout issues with multi-line descriptions, see
     bug 592712*/
  outline: solid transparent;
  white-space: pre-wrap;
  min-width: 10em;
}

#detail-fulldesc {
  margin-top: 1em;
}

#detail-contributions {
  border-radius: 5px;
  border: 1px solid #D2DBE8;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F3F7FB;
}

#detail-contrib-description {
  font-style: italic;
  margin-bottom: 1em;
  color: #373D48;
}

#detail-contrib-suggested {
  color: grey;
  font-weight: bold;
}

#detail-contrib-btn {
  -moz-appearance: none;
  color: #FFF;
  border: 1px solid #3A4EEE;
  border-radius: 3px;
  list-style-image: url("chrome://mozapps/skin/extensions/heart.png");
  background-color: #2F73EF;
  background-image: linear-gradient(rgba(251, 252, 253, 0.70), rgba(246, 247, 248, 0.27) 49%,
                                         rgba(231, 232, 233, 0.25) 51%, rgba(225, 226, 229, 0.1));
}

#detail-contrib-btn .button-box {
  padding: 0 6px 1px 6px;
}

#detail-contrib-btn .button-icon {
  -moz-margin-end: 3px;
}

#detail-contrib-btn:not(:active):hover {
  border-color: #4271FF;
  background-color: #0459F7;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),
              0 0 3.5px hsl(190, 90%, 80%);
  transition: background-color .4s ease-in,
                   border-color .3s ease-in,
                   box-shadow .3s ease-in
}

#detail-contrib-btn:active:hover {
  background-color: #8FA1C1;
  border-color: rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.55) rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.4) inset,
              0 0 2px rgba(0, 0, 0, 0.4) inset,
              0 1px 0 rgba(255, 255, 255, 0.4);
}

#detail-grid {
  margin-bottom: 2em;
}

.detail-row[first-row="true"],
.detail-row-complex[first-row="true"] {
  border-top: none;
}

.detail-row,
.detail-row-complex {
  border-top: 2px solid;
  -moz-border-top-colors: rgba(28, 31, 37, 0.1) rgba(255, 255, 255, 0.1);
  -moz-box-align: center;
}

.detail-row-value {
  -moz-margin-start: 0;
}

#detail-controls {
  margin-bottom: 1em;
}

#detail-view[active="false"]:not([pending]):not([notification]) {
  background-image: linear-gradient(rgba(135, 135, 135, 0.1),
                                         rgba(135, 135, 135, 0));
}

/*** creator ***/

.creator > label {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

.creator > .text-link {
  margin-top: 1px;
  margin-bottom: 1px;
}


/*** rating ***/

.meta-rating {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  padding-top: 2px;
}

.meta-rating > .star {
  list-style-image: url("chrome://mozapps/skin/extensions/rating-not-won.png");
  padding: 0 1px;
}

.meta-rating > .star[on="true"] {
  list-style-image: url("chrome://mozapps/skin/extensions/rating-won.png");
}


/*** download progress ***/
/*** TO BE DONE *** /

/*** install status ***/

.install-status {
  -moz-box-align: center;
}


/*** check for updates ***/

#updates-container {
  -moz-box-align: center;
}

#updates-container .button-link {
  font-weight: bold;
}

#updates-installed,
#updates-downloaded {
  color: #00BB00;
  font-weight: bold;
}

#update-selected {
  margin: 12px;
}


/*** buttons ***/


.addon-control[disabled="true"] {
  display: none;
}

.header-button[disabled="true"] {
	-moz-border-top-colors: rgba(0, 0, 0, 0.12) !important;
	-moz-border-left-colors: rgba(0, 0, 0, 0.19) !important;
	-moz-border-right-colors: rgba(0, 0, 0, 0.19) !important;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.38) !important;
	opacity: 0.8;
}

.nav-button[disabled="true"] .toolbarbutton-icon {
	opacity: 0.4;
}

.header-button:not([open="true"]):not([disabled="true"]):not(:active):hover {
	background-color: hsla(190, 60%, 70%, 0.5);
	border-color: hsla(190, 50%, 65%, 0.8) hsla(190, 50%, 50%, 0.8) hsla(190, 50%, 40%, 0.8);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset,
	0 0 0 1.5px rgba(255, 255, 255, 0.1) inset,
	0 1px 0 rgba(0, 0, 0, 0.1),
	0 0 3.5px hsl(190, 90%, 80%);
	transition: background-color .4s ease-in,
	border-color .3s ease-in,
	box-shadow .3s ease-in
}

.header-button:not([disabled="true"]):active:hover,
.header-button[open="true"] {
	background-color: transparent;
	border-color: rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.55) rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.4) inset,
	0 0 2px rgba(0, 0, 0, 0.4) inset;
}

.header-button .toolbarbutton-text {
	display: none;
}
