/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Font for code */

.devtools-monospace {
    font: message-box;
    font-family: monospace;
}

/* Toolbar and Toolbar items */

.devtools-toolbar {
    -moz-appearance: none;
    padding: 4px 3px;
    color: hsl(210,30%,85%);
    background-image: url(background-noise-toolbar.png), linear-gradient(#3e4750, #3e4750);
    border-bottom: 1px solid #060a0d;
    box-shadow: 0 1px 0 hsla(204,45%,98%,.05) inset, -1px 0 0 hsla(204,45%,98%,.05) inset, 0 -1px 0 hsla(204,45%,98%,.05) inset;
}

.devtools-menulist,
.devtools-toolbarbutton {
    -moz-appearance: none;
    -moz-box-align: center;
    min-width: 78px;
    min-height: 22px;
    text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
    border: 1px solid hsla(210,8%,5%,.45);
    border-radius: 3px;
    background: -moz-linear-gradient(hsla(212,7%,57%,.35), hsla(212,7%,57%,.1)) padding-box;
    box-shadow: 0 1px 0 hsla(210,16%,76%,.15) inset, 0 0 0 1px hsla(210,16%,76%,.15) inset, 0 1px 0 hsla(210,16%,76%,.15);
    margin: 0 3px;
    color: inherit;
}

.devtools-toolbarbutton > .toolbarbutton-menubutton-button {
    -moz-box-orient: horizontal;
}

.devtools-menulist:-moz-focusring,
.devtools-toolbarbutton:-moz-focusring {
    outline: 1px dotted hsla(210,30%,85%,0.4);
    outline-offset: -4px;
}

.devtools-toolbarbutton:not([label]) {
    min-width: 32px;
}

.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
    display: none;
}

.devtools-toolbarbutton:not([checked=true]):hover:active {
    border-color: hsla(210,8%,5%,.6);
    background: -moz-linear-gradient(hsla(220,6%,10%,.3), hsla(212,7%,57%,.15) 65%, hsla(212,7%,57%,.3));
    box-shadow: 0 0 3px hsla(210,8%,5%,.25) inset, 0 1px 3px hsla(210,8%,5%,.25) inset, 0 1px 0 hsla(210,16%,76%,.15);
}

.devtools-menulist[open=true],
.devtools-toolbarbutton[open=true],
.devtools-toolbarbutton[checked=true] {
    border-color: hsla(210,8%,5%,.6) !important;
    background: -moz-linear-gradient(hsla(220,6%,10%,.6), hsla(210,11%,18%,.45) 75%, hsla(210,11%,30%,.4));
    box-shadow: 0 1px 3px hsla(210,8%,5%,.25) inset, 0 1px 3px hsla(210,8%,5%,.25) inset, 0 1px 0 hsla(210,16%,76%,.15);
}

.devtools-toolbarbutton[checked=true] {
    color: hsl(208,100%,60%) !important;
}

.devtools-toolbarbutton[checked=true]:hover {
    background-color: transparent !important;
}

.devtools-toolbarbutton[checked=true]:hover:active {
    background-color: hsla(210,8%,5%,.2) !important;
}

.devtools-option-toolbarbutton {
    -moz-appearance: none;
    list-style-image: url("chrome://browser/skin/devtools/option-icon.png");
    -moz-image-region: rect(0px 16px 16px 0px);
    background: none;
    border: none;
}

.devtools-option-toolbarbutton[open=true] {
    -moz-image-region: rect(0px 32px 16px 16px);
}

.devtools-menulist > .menulist-label-box {
    text-align: center;
}

.devtools-menulist > .menulist-dropmarker {
    -moz-appearance: none;
    display: -moz-box;
    list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
    -moz-box-align: center;
    min-width: 16px;
}

.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button {
    -moz-appearance: none;
    color: inherit;
    border-width: 0;
    -moz-border-end: 1px solid hsla(210,8%,5%,.45);
    box-shadow: -1px 0 0 hsla(210,16%,76%,.15) inset, 1px 0 0 hsla(210,16%,76%,.15);
}

.devtools-toolbarbutton[type=menu-button]:-moz-locale-dir(rtl) > .toolbarbutton-menubutton-button {
    box-shadow: 1px 0 0 hsla(210,16%,76%,.15) inset, -1px 0 0 hsla(210,16%,76%,.15);
}

.devtools-toolbarbutton[type=menu-button] {
    padding: 0 1px;
    -moz-box-align: stretch;
}

.devtools-toolbarbutton[type=menu] > .toolbarbutton-menu-dropmarker,
.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-dropmarker {
    -moz-appearance: none !important;
    list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
    -moz-box-align: center;
    margin: 0 3px;
}

/* Text input */

.devtools-textinput,
.devtools-searchinput {
    -moz-appearance: none;
    margin: 0 3px;
    border: 1px solid hsla(210,8%,5%,.6);
    border-radius: 2px;
    background-color: transparent;
    background-image: -moz-linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
    padding: 3px;
    box-shadow: 0 1px 1px hsla(210,8%,5%,.3) inset,
    0 0 0 1px hsla(210,16%,76%,.1) inset,
    0 1px 0 hsla(210,16%,76%,.15);
    color: inherit;
}

.devtools-searchinput {
    padding-top: 0;
    padding-bottom: 0;
    -moz-padding-start: 18px;
    -moz-padding-end: 12px;
    background-image: url(magnifying-glass.png), -moz-linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
    background-position: 4px center, top left, top left;
    background-repeat: no-repeat;
}

.devtools-searchinput:-moz-locale-dir(rtl) {
    background-position: calc(100% - 4px) center, top left, top left;
}

.devtools-searchinput > .textbox-input-box > .textbox-search-icons {
    display: none;
}

.devtools-searchinput > .textbox-input-box > .textbox-input::-moz-placeholder {
    color: hsl(208,10%,66%);
    opacity: 1.0;
}

/* Close button */

.devtools-closebutton {
    list-style-image: url("moz-icon://stock/gtk-close?size=menu");
    margin-top: 0;
    margin-bottom: 0;
}

.devtools-closebutton > .toolbarbutton-icon {
    /* XXX Buttons have padding in widget/ that we don't want here but can't override with good CSS, so we must
     *     use evil CSS to give the impression of smaller content */
    margin: -4px;
}

/* Splitters */

.devtools-horizontal-splitter {
    -moz-appearance: none;
    border-top: 1px solid black;
    border-bottom-width: 0;
    min-height: 3px;
    height: 3px;
    margin-bottom: -3px;
    position: relative;
}

.devtools-side-splitter {
    -moz-appearance: none;
    border: 0;
    -moz-border-start: 1px solid black;
    min-width: 0;
    width: 3px;
    background-color: transparent;
    -moz-margin-end: -3px;
    position: relative;
}

/* In-tools sidebar */

.devtools-sidebar-tabs {
    -moz-appearance: none;
    margin: 0;
}

.devtools-sidebar-tabs > tabpanels {
    -moz-appearance: none;
    padding: 0;
    border: 0;
}

.devtools-sidebar-tabs > tabs {
    -moz-appearance: none;
    position: static;
    color: hsl(210,30%,85%);
    margin-bottom: 0;
    padding: 0;
    background-image: url(background-noise-toolbar.png), linear-gradient(#3e4750, #3e4750);
    box-shadow: 0 1px 0 hsla(204,45%,98%,.05) inset, -1px 0 0 hsla(204,45%,98%,.05) inset, 0 -1px 0 hsla(204,45%,98%,.05) inset;
    border-width: 0 0 1px 0;
    border-color: hsla(210,8%,5%,.6);
    border-style: solid;
    overflow: hidden;
}

.devtools-sidebar-tabs > tabs > .tabs-right,
.devtools-sidebar-tabs > tabs > .tabs-left {
    background: none;
    display: none;
}

.devtools-sidebar-tabs > tabs > tab > .tab-image-left,
.devtools-sidebar-tabs > tabs > tab > .tab-image-middle,
.devtools-sidebar-tabs > tabs > tab > .tab-image-right {
    background: none !important;
}


.devtools-sidebar-tabs > tabs > tab {
    -moz-appearance: none;
    /* We want to match the height of a toolbar with a toolbarbutton
     * First, we need to replicated the padding of toolbar (4px),
     * then, the padding of the button itself from toolbarbutton.css (3px),
     * Also, we need to take the border of the buttons into accout (1px).
     * Padding-bottom is one pixel shorter because we need to include the
     * black border.
     */
    padding: 8px 3px 7px;
    -moz-padding-start: 6px;
    margin: 0;
    min-width: 78px;
    text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
    text-align: center;
    color: inherit;
    -moz-box-flex: 1;
    border-width: 0;
    background: transparent;
    border-radius: 0;
    position: static;
    -moz-margin-start: -1px;
}

.devtools-sidebar-tabs > tabs > tab:first-of-type {
    -moz-margin-start: -3px;
}

.devtools-sidebar-tabs > tabs > tab {
    background-size: 100% 100%, 1px 100%, 1px 100%, 1px 100%;
    background-repeat: no-repeat;
    background-position: 2px, 0, 1px, 2px;
}

.devtools-sidebar-tabs:-moz-locale-dir(rtl) > tabs > tab {
    background-position: calc(100% - 3px), 100%, calc(100% - 1px), calc(100% - 2px);
}


.devtools-sidebar-tabs > tabs > tab {
    background-image: linear-gradient(transparent, transparent), linear-gradient(hsla(204,45%,98%,0), hsla(204,45%,98%,.1), hsla(204,45%,98%,0)), linear-gradient(hsla(206,37%,4%,0), hsla(206,37%,4%,.6), hsla(206,37%,4%,0)), linear-gradient(hsla(204,45%,98%,0), hsla(204,45%,98%,.1), hsla(204,45%,98%,0));
}

.devtools-sidebar-tabs > tabs > tab:hover {
    background-image: linear-gradient(hsla(206,37%,4%,.2), hsla(206,37%,4%,.2)), linear-gradient(hsla(204,45%,98%,0), hsla(204,45%,98%,.1), hsla(204,45%,98%,0)), linear-gradient(hsla(206,37%,4%,0), hsla(206,37%,4%,.6), hsla(206,37%,4%,0)), linear-gradient(hsla(204,45%,98%,0), hsla(204,45%,98%,.1), hsla(204,45%,98%,0));
}

.devtools-sidebar-tabs > tabs > tab:hover:active {
    background-image: linear-gradient(hsla(206,37%,4%,.4), hsla(206,37%,4%,.4)), linear-gradient(hsla(204,45%,98%,0), hsla(204,45%,98%,.1), hsla(204,45%,98%,0)), linear-gradient(hsla(206,37%,4%,0), hsla(206,37%,4%,.6), hsla(206,37%,4%,0)), linear-gradient(hsla(204,45%,98%,0), hsla(204,45%,98%,.1), hsla(204,45%,98%,0));
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab {
    background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(hsla(206,37%,4%,.6), hsla(206,37%,4%,.7)), linear-gradient(hsla(204,45%,98%,.1), hsla(204,45%,98%,.1));
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab:hover {
    background-image: linear-gradient(hsla(206,37%,4%,.2), hsla(206,37%,4%,.2)), linear-gradient(transparent, transparent), linear-gradient(hsla(206,37%,4%,.6), hsla(206,37%,4%,.7)), linear-gradient(hsla(204,45%,98%,.1), hsla(204,45%,98%,.1));
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab:hover:active {
    background-image: linear-gradient(hsla(206,37%,4%,.4), hsla(206,37%,4%,.4)), linear-gradient(transparent, transparent), linear-gradient(hsla(206,37%,4%,.6), hsla(206,37%,4%,.7)), linear-gradient(hsla(204,45%,98%,.1), hsla(204,45%,98%,.1));
}

.devtools-sidebar-tabs > tabs > tab[selected=true] {
    color: #f5f7fa;
    background-image: linear-gradient(#2f607b, #294d68), linear-gradient(transparent, transparent), linear-gradient(hsla(206,37%,4%,.6), hsla(206,37%,4%,.7)), linear-gradient(hsla(204,45%,98%,.1), hsla(204,45%,98%,.1));
    box-shadow: 0 1px 0 hsla(0,0%,100%,.1) inset, 0 -2px 0 hsla(206,37%,4%,.05) inset, 0 -1px 1px hsla(206,37%,4%,.1) inset;
}

.devtools-sidebar-tabs > tabs > tab[selected=true]:hover {
    background-image: linear-gradient(#274f64, #224056), linear-gradient(transparent, transparent), linear-gradient(hsla(206,37%,4%,.6), hsla(206,37%,4%,.7)), linear-gradient(hsla(204,45%,98%,.1), hsla(204,45%,98%,.1));
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset, 0 -2px 0 hsla(206,37%,4%,.05) inset, 0 -1px 1px hsla(206,37%,4%,.1) inset;
}

.devtools-sidebar-tabs > tabs > tab[selected=true]:hover:active {
    background-image: linear-gradient(#1f3e4f, #1b3243), linear-gradient(transparent, transparent), linear-gradient(hsla(206,37%,4%,.6), hsla(206,37%,4%,.7)), linear-gradient(hsla(204,45%,98%,.1), hsla(204,45%,98%,.1));
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset, 0 -2px 0 hsla(206,37%,4%,.05) inset, 0 -1px 1px hsla(206,37%,4%,.1) inset;
}

/* Theme */

.devtools-theme-background {
    background-color: white;
}

.devtools-theme-comment {
    color: hsl(90,2%,46%); /* grey */
}

.devtools-theme-keyword {
    color: hsl(276,44%,45%); /* purple */
}

.devtools-theme-string {
    color: hsl(72,100%,27%); /* green */
}

.devtools-theme-tagname {
    color: hsl(208,81%,21%); /* dark blue */
}

.devtools-theme-attrname {
    color: hsl(208,56%,40%); /* blue */
}

.devtools-theme-attrvalue {
    color: hsl(24,85%,39%); /* orange */
}
