#downloadView {
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	border-width: 0;
	border-bottom: 1px solid #404040;
}

/* Download View Items */
richlistitem[type="download"] {
  padding: 3px 8px;
  min-height: 40px !important;
}

richlistitem[type="download"][alternate="true"]:not([selected="true"]) {
  background-color: -moz-oddtreerow;
}

richlistitem[type="download"] .name {
  font-size: small;
}

richlistitem[type="download"] .dateTime,
richlistitem[type="download"] .status {
  font-size: smaller;
  color: #555;
}

richlistbox:focus > richlistitem[selected="true"][type="download"] .dateTime,
richlistbox:focus > richlistitem[selected="true"][type="download"] .status {
  color: highlighttext;
}


richlistitem[type="download"] button {
  -moz-appearance: none;
  min-height: 16px;
  min-width: 16px;
  max-height: 16px;
  max-width: 16px;
  padding: 0;
  margin: 0 1px 0 1px;
}

/**
 * Images for buttons in the interface
 */

.mini-button {
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent none;
	min-width: 0;
	min-height: 0;
	height: 16px;
}

.mini-button > .button-box {
	padding: 0 !important;
	background: transparent none;
	height: 16px;
}

richlistitem[type="download"] button {
	list-style-image: url("chrome://mozapps/skin/downloads/buttons.png");
}
.cancel {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
.cancel:hover {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
.cancel:hover:active {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

.pause {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}
.pause:hover {
	-moz-image-region: rect(48px, 32px, 64px, 16px);
}
.pause:not([disabled="true"]):hover:active {
	-moz-image-region: rect(48px, 48px, 64px, 32px);
}
.pause[disabled="true"] {
	-moz-image-region: rect(48px, 16px, 64px, 0px);
}

.resume {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
.resume:hover {
	-moz-image-region: rect(16px, 32px, 32px, 16px);
}
.resume:hover:active {
	-moz-image-region: rect(16px, 48px, 32px, 32px);
}

.retry {
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}
.retry:hover {
	-moz-image-region: rect(32px, 32px, 48px, 16px);
}
.retry:hover:active {
	-moz-image-region: rect(32px, 48px, 48px, 32px);
}

.blockedIcon {
	list-style-image: url("chrome://global/skin/icons/Error.png");
}

/* prevent flickering when changing states */
	.downloadTypeIcon {
	min-height: 32px;
	min-width: 32px;
	-moz-padding-end: 2px;
}