.folder-icon > .menulist-label-box > .menulist-icon,
.folder-icon > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}

/* Make the microsummary picker look like a regular textbox instead of 
 * an editable menulist when no microsummaries are available.
 */

menulist#name[droppable="false"] {
  /* These rules come from the textbox element in textbox.css. */

  /* Normal editable menulists set this to "none".
  -moz-appearance: none;
  cursor: text;

  border: 1px solid #a3a3a3; */
  /*
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: #fff;
  color: #000;
  */
}

menulist#name[droppable="false"] > .menulist-editable-box {
  /* Normal editable menulists set this to "menulist-textfield".
  -moz-appearance: none;
  padding: 2px 2px 3px 4px; */
}

/* Hide the drop marker and the popup when no microsummaries are available. */
menulist#name[droppable="false"] > .menulist-dropmarker {
/*
  display: none;
*/
}

/* Hide the drop marker and the popup when no microsummaries are available. */
menulist#name[droppable="false"] > menupopup {
  display: none;
}
