#bookmark-window toolbarbutton {
  list-style-image: url("chrome://browser/skin/bookmarks/Toolbar-bookmarks.png");
  -moz-box-orient: vertical;
  min-width: 57px;
  padding: 5px;
}

#bookmark-window toolbarbutton > .toolbarbutton-icon {
  -moz-margin-end: 0px;
}

/* new bookmark */

toolbarbutton#newbookmark {
  -moz-image-region: rect(0px 224px 32px 192px);
}
toolbarbutton#newbookmark:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 224px 64px 192px);
}
toolbarbutton#newbookmark[disabled="true"] {
  -moz-image-region: rect(64px 224px 96px 192px);
}
toolbarbutton#newbookmark:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 224px 96px 192px);
}

/* new folder */

toolbarbutton#newfolder {
  -moz-image-region: rect(0px 32px 32px 0px);
}
toolbarbutton#newfolder:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 32px 64px 0px);
}
toolbarbutton#newfolder[disabled="true"] {
  -moz-image-region: rect(64px 32px 96px 0px);
}
toolbarbutton#newfolder:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 32px 96px 0px);
}

/* new separator */

toolbarbutton#newseparator {
  -moz-image-region: rect(0px 64px 32px 32px);
}
toolbarbutton#newseparator:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 64px 64px 32px);
}
toolbarbutton#newseparator[disabled="true"] {
  -moz-image-region: rect(64px 64px 96px 32px);
}
toolbarbutton#newseparator:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 64px 96px 32px);
}

/* move bookmark */

toolbarbutton#moveBookmark {
  -moz-image-region: rect(0px 96px 32px 64px);
}
toolbarbutton#moveBookmark:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 96px 64px 64px);
}
toolbarbutton#moveBookmark[disabled="true"] {
  -moz-image-region: rect(64px 96px 96px 64px);
}
toolbarbutton#moveBookmark:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 96px 96px 64px);
}

/* properties */

toolbarbutton#properties {
  -moz-image-region: rect(0px 128px 32px 96px);
}
toolbarbutton#properties:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 128px 64px 96px);
}
toolbarbutton#properties[disabled="true"] {
  -moz-image-region: rect(64px 128px 96px 96px);
}
toolbarbutton#properties:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 128px 96px 96px);
}

/* rename */

toolbarbutton#rename {
  -moz-image-region: rect(0px 160px 32px 128px);
}
toolbarbutton#rename:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 160px 64px 128px);
}
toolbarbutton#rename[disabled="true"] {
  -moz-image-region: rect(64px 160px 96px 128px);
}
toolbarbutton#rename:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 160px 96px 128px);
}

/* delete */

toolbarbutton#delete {
  -moz-image-region: rect(0px 192px 32px 160px);
}
toolbarbutton#delete:not([disabled="true"]):hover {
  -moz-image-region: rect(32px 192px 64px 160px);
}
toolbarbutton#delete[disabled="true"] {
  -moz-image-region: rect(64px 192px 96px 160px);
}
toolbarbutton#delete:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 192px 96px 160px);
}

#bookmark-folders-view > .bookmarksTree {
  margin: 0px !important;
  border: 0px !important;
  padding: 0px !important;
}

#bookmark-views-splitter {
  border-right: 1px solid #bebebe;
}

#bookmarks-search {
	background-image: url("chrome://global/skin/icons/white-gray-gradient.gif");
	background-repeat: repeat-x;
	background-position: bottom right;
	background-color: rgb(246, 246, 246);
}
