menulist#name[droppable="false"] {
  /* These rules come from the textbox element in textbox.css. */

  /* Normal editable menulists set this to "none".
  -moz-appearance: none;
  cursor: text;
  margin: 0px;
  border-top: 2px solid;
  -moz-border-top-colors: #7C7C7C #C3C3C3;
  border-right: 3px solid;
  -moz-border-right-colors: transparent #C3C3C3 #F0F0F0;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: transparent #DDDDDD;
  border-left: 3px solid;
  -moz-border-left-colors: transparent #C3C3C3 #F0F0F0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  padding: 1px 0px 1px 2px;
  background-color: #fff;
  background-image: none;
  color: #000; */
}

menulist#name[droppable="false"] > .menulist-editable-box,
menulist#name[droppable="false"] > .autocomplete-textbox-container,
menulist#name[droppable="false"] > .menulist-label-box {
  /* Normal editable menulists set this to "menulist-textfield".
  -moz-appearance: none;
  background-image: none;
  padding: 0px;
  margin:0px; */
}

/* Hide the drop marker and the popup when no microsummaries are available. */
/*menulist#name[droppable="false"] > .menulist-dropmarker,*/
menulist#name[droppable="false"] > menupopup {
  display: none;
}
